{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} 
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %} 
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %} 
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
	<meta property="og:type" content="website"/>
{% endblock %}
{% block main %}
	{% set becomeAPartnerSubtitle = entry.becomeAPartnerSubtitle %}
	{% set becomeAPartnerTitle = entry.becomeAPartnerTitle %}
	{% set sectionId = '01' %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--become-a-partner js-bg-shape-hld">
		<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
			<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
			<img class="s3 js-s3 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
			<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-2.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="u-wrapper u-wrapper--content">
			<div class="become-a-partner">
				<div class="become-a-partner__text-hld">
					<span class="become-a-partner__subtitle u-subtitle u-subtitle--big">{{ becomeAPartnerSubtitle }}</span>
					<h1 class="become-a-partner__title u-title u-title--section">{{ becomeAPartnerTitle }}</h1>
				</div>
				<div class="become-a-partner__form-hld">
					<div id="become-a-partner-form" class="become-a-partner__form form">
						<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
						<script
								src="https://code.jquery.com/jquery-3.6.0.min.js"
								integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
								crossorigin="anonymous">
						</script>
						<script>
							function handleState() {
								const fields = document.querySelectorAll('.field input');
								const selects = document.querySelectorAll('.hs-fieldtype-select select');
								if (fields && fields.length > 0) {
									fields.forEach(field => {
										field.addEventListener('input', () => {
											field.parentNode.parentNode.classList.add('is-active');
											if (!field.value) {
												field.parentNode.parentNode.classList.remove('is-active');
											}
										});
									});
								}
								if (selects && selects.length > 0) {
									selects.forEach(select => {
										select.addEventListener('change', () => {
											select.parentNode.parentNode.classList.add('is-active');
											handleState();
										});
									});
								}
							};
							hbspt.forms.create({
								region: "na1", 
								portalId: "4249967", 
								formId: "980f1da3-bb54-4c50-85c9-2df744452109",
								onFormReady: function() {
									document.body.classList.add('is-partners-long-form');
									handleState();
								},
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% set sectionId = '' %}
	{# // <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
	// <script
	// 	src="https://code.jquery.com/jquery-3.6.0.min.js"
	// 	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	// 	crossorigin="anonymous">
	// </script> #}
	{# // <script>
	// 	const handleStyles = function(selector) {
	// 		// var cssLink = document.createElement("link");
	// 		// cssLink.href = "/src/css/style.min.css"; 
	// 		// cssLink.rel = "stylesheet"; 
	// 		// cssLink.type = "text/css"; 
	// 		// const iframeHtml = selector[0].closest('html');
	// 		// const iframeHead = iframeHtml.querySelector('head');
	// 		// const iframeBody = iframeHtml.querySelector('body');
	// 		// iframeHead.appendChild(cssLink);
	// 		document.body.classList.add('is-multistep-form');
	// 	};
	// 	const handleState = function(selector) {
	// 		const fields = selector[0].querySelectorAll('.field input');
	// 		const selects = selector[0].querySelectorAll('.hs-fieldtype-select select');
	// 		if (fields && fields.length > 0) {
	// 			fields.forEach(field => {
	// 				field.addEventListener('input', () => {
	// 					field.parentNode.parentNode.classList.add('is-active');
	// 					if (!field.value) {
	// 						field.parentNode.parentNode.classList.remove('is-active');
	// 					}
	// 				});
	// 			});
	// 		}
	// 		if (selects && selects.length > 0) {
	// 			selects.forEach(select => {
	// 				select.addEventListener('change', () => {
	// 					select.parentNode.parentNode.classList.add('is-active');
	// 				});
	// 			});
	// 		}
	// 	};
	// 	let data = [];
	// 	hbspt.forms.create({
	// 		portalId: '4249967',
	// 		formId: '44c71783-7ba8-49a1-81cd-2699df6b4ff7',
	// 		target: '#become-a-partner-form',
	// 		onFormReady: function(form) {
	// 			handleState(form);
	// 			handleStyles(form);
	// 			document.body.classList.add('is-step-1-active');
	// 			setTimeout(() => {
	// 				document.body.classList.add('is-iframe-form-visible');
	// 			}, 250);
	// 		},
	// 		onFormSubmit: function(formA) {
	// 			let incomingA = $(formA).serializeArray();
	// 			data.push(incomingA);
	// 		},
	// 		onFormSubmitted: function(formB) {
	// 			$('#become-a-partner-form').empty();
	// 			document.body.classList.remove('is-iframe-form-visible');
	// 			hbspt.forms.create({
	// 				portalId: '4249967',
	// 				formId: '1621224c-9051-458e-a91d-1049aadb6636',
	// 				target: '#become-a-partner-form',
	// 				onFormReady: function(formB) {
	// 					handleState(formB);
	// 					handleStyles(formB);
	// 					document.body.classList.remove('is-step-1-active');
	// 					document.body.classList.add('is-step-1-done');
	// 					document.body.classList.add('is-step-2-active');
	// 					formB.find('input[name="email"]').val(data[0].value).change();
	// 					setTimeout(() => {
	// 						document.body.classList.add('is-iframe-form-visible');
	// 					}, 250);
	// 				},
	// 				onFormSubmit: function(formC) {
	// 					let incomingB = $(formC).serializeArray();
	// 					data.push(incomingB);
	// 				},
	// 				onFormSubmitted: function(formC) {
	// 					$('#become-a-partner-form').empty();
	// 					document.body.classList.remove('is-iframe-form-visible');
	// 					hbspt.forms.create({
	// 						portalId: '4249967',
	// 						formId: 'b4dcb985-d37e-4990-9144-efa12172eebb',
	// 						target: '#become-a-partner-form',
	// 						onFormReady: function(formC) {
	// 							handleState(formC);
	// 							handleStyles(formC);
	// 							document.body.classList.remove('is-step-2-active');
	// 							document.body.classList.add('is-step-2-done');
	// 							document.body.classList.add('is-step-3-active');
	// 							formC.find('input[name="email"]').val(data[0].value).change();
	// 							setTimeout(() => {
	// 								document.body.classList.add('is-iframe-form-visible');
	// 							}, 250);
	// 						},
	// 						onFormSubmit: function(formD) {
	// 							let incomingC = $(formD).serializeArray();
	// 							data.push(incomingC);
	// 						},
	// 						onFormSubmitted: function(formD) {
	// 							$('#become-a-partner-form').empty();
	// 							document.body.classList.remove('is-iframe-form-visible');
	// 							hbspt.forms.create({
	// 								portalId: '4249967',
	// 								formId: '6d21fef6-6689-45c8-8080-d76dc12e0683',
	// 								target: '#become-a-partner-form',
	// 								onFormReady: function(formD) {
	// 									handleState(formD);
	// 									handleStyles(formD);
	// 									document.body.classList.remove('is-step-3-active');
	// 									document.body.classList.add('is-step-3-done');
	// 									document.body.classList.add('is-step-4-active');
	// 									formD.find('input[name="email"]').val(data[0].value).change();
	// 									setTimeout(() => {
	// 										document.body.classList.add('is-iframe-form-visible');
	// 									}, 250);
	// 								},
	// 								onFormSubmit: function() {
	// 									document.body.classList.remove('is-step-4-active');
	// 									document.body.classList.add('is-step-4-done');
	// 									document.body.classList.add('is-step-thanks-active');
	// 								},
	// 							});
	// 						},
	// 					});
	// 				},
	// 			});
	// 		},
	// 	});
	// </script> #}
{% endblock %}
