{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %}
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %}
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %}
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
	<meta property="og:type" content="article">
	<meta property="article:modified_time" content="{{ postModifyDate }}">
{% endblock %}
{% block main %}

{% set event = entry %}
{% set image = event.eventImage.one() %}
{% set category = event.eventCategory.one() %}
{% set topic = event.eventTopic.one() %}
{% set date = event.eventDate %}
{% set time = event.eventTime %}
{% set place = event.eventPlace %}
{% set length = event.eventLength %}
{% set title = event.title %}
{% set showShareIcons = event.eventShareIcons %}
{% set content = event.eventContent %}
{% set video = entry.eventVideo.one() %}
{% set videoPlaceholder = entry.eventVideoPlaceholder.one() %}
{% set speakersTitle = event.eventSpeakersTitle %}
{% set speakers = event.eventSpeakers %}
{% set sidebarTitle = event.eventSidebarTitle %}
{% set sidebarText = event.eventSidebarText %}
{% set sidebarButton = event.eventSidebarButton %}
{% set sidebarFormID = event.eventSidebarFormId %}

{% set sectionId = '01' %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--event-details">
    <div class="u-wrapper u-wrapper--events-listing">
        <div class="event-details-hld">
            {% if image %}
                {% set imageUrl = image.getUrl %}
                {% set imageAlt = image.title %}
                <div class="event-details__img-hld">
                    <img class="event-details__img js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
                </div>
            {% endif %}
            <div class="event-details-title-hld">
                <h1 class="event-details-title">{{ title }}</h1>
                {% if showShareIcons %}
                    <div class="event-details-share">
                        <a href="{{ 'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl() }}" title="Share event on Facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                        <a href="{{ 'https://twitter.com/intent/tweet?url='~entry.getUrl() }}" title="Share event on Twitter">
                            <span class="icon icon-twitter"></span>
                        </a>
                        <a href="{{ 'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl() }}" title="Share event on LinkedIn">
                            <span class="icon icon-linkedin"></span>
                        </a>
                        <a href="{{ 'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A' }}" title="Share event in e-mail">
                            <span class="icon icon-email"></span>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="event-details-main">
                <div class="event-details-content">
                    <div class="event-details-content-inner">
                        {% if category or topic or date or time or place or length %}
                        <div class="event-details-info">
                            {% if category or topic or length %}
                                <div class="event-details__labels">
                                    {% if category %}
                                        {% set categoryColor = category.categoryColor %}
                                        {% set categoryTitle = category.titleSingular %}
                                        <span class="event-details__label event-details__label--{{ categoryColor }}">{{ categoryTitle }}</span>
                                    {% endif %}
                                    {% if topic %}
                                        {% set topicTitle = topic.title %}
                                        <span class="event-details__label event-details__label--very-light">{{ topicTitle }}</span>
                                    {% endif %}
                                    {% if length %}
                                        <span class="event-details__length">{{ length }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if date or time or place %}
                                <div class="event-details__time-and-date">
                                    {% if date %}
                                        <span class="event-details__date">{{ date }}</span>
                                    {% endif %}
                                    {% if time %}
                                        <span class="event-details__time">
                                            <svg class="svg-clock">
                                                <use xlink:href="#svg-clock"></use>
                                            </svg>
                                            {{ time }}
                                        </span>
                                    {% endif %}
                                    {% if place %}
                                        <span class="event-details__place"><img src="{{ alias('@web/src/img/svg/location.svg') }}" width="16" height="16" alt="location icon" /> {{ place }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if content %}
                            <div class="event-details__content u-content">
                                {{ content }}
                            </div>
                        {% endif %}
                        {% if video %}
                            <div class="event-details__video-hld js-video-hld is-paused is-before-play">
                                <span class="icon icon-button_play"></span>
                                {% if videoPlaceholder %}
                                    <div class="event-details__video-placeholder">
                                        <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ videoPlaceholder.url }}" alt="" />
                                    </div>
                                {% endif %}
                                <video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ video.url }}"></video>
                            </div>
                        {% endif %}
                        {% if speakers|length %}
                            <div class="event-details-speakers-hld">
                                {% if speakersTitle %}
                                    <span class="event-details-speakers-title">{{ speakersTitle }}</span>
                                {% endif %}
                                <div class="event-details-speakers">
                                    {% for speaker in speakers %}
                                        {% set image = speaker.speakerPhoto.one() %}
                                        <div class="event-details-speaker {% if image %}event-details-speaker--with-photo{% endif %}">
                                            {% if image %}
                                                {% set imageUrl = image.getUrl('eventItemSpeaker') %}
                                                {% set imageAlt = image.title %}
                                                <div class="event-details-speaker__photo-hld">
                                                    <img class="event-details-speaker__photo js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
                                                </div>
                                            {% endif %}
                                            <span class="event-details-speaker__name">{{ speaker.speakerTitle }}</span>
                                            {% if speaker.speakerPosition %}
                                                <span class="event-details-speaker__position">{{ speaker.speakerPosition }}</span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="event-details-sidebar">
                    {% if sidebarTitle or sidebarText or sidebarButton.customText or sidebarFormID %}
                        <div class="event-details-sidebar-box event-details-sidebar-box--{% if sidebarFormID %}normal{% else %}sticky{% endif %}">
                            {% if sidebarTitle %}
                                <span class="event-details-sidebar-box__title">{{ sidebarTitle }}</span>
                            {% endif %}
                            {% if sidebarText %}
                                <p class="event-details-sidebar-box__text">{{ sidebarText }}</p>
                            {% endif %}
                            {% if sidebarButton.customText %}
                                <div class="event-details-sidebar-box__btn-hld">
                                    {% if sidebarButton.url %}
                                        <a href="{{ sidebarButton.url }}" class="event-details-sidebar-box__btn u-btn u-btn--accent" target="{{ sidebarButton.target ? '_blank' : '_self' }}" rel="{{ sidebarButton.target ? 'noopener noreferrer' : null }}">
                                            <span class="text">{{ sidebarButton.customText }}</span>
                                        </a>
                                    {% else %}
                                        <span class="event-details-sidebar-box__btn u-btn u-btn--disabled">
                                            <span class="text">{{ sidebarButton.customText }}</span>
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if sidebarFormID %}
                                <div class="event-details-form u-dark-form u-bigger-form u-sidebar-form">
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                                    <script
                                            src="https://code.jquery.com/jquery-3.6.0.min.js"
                                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                                            crossorigin="anonymous">
                                    </script>
                                    <script>
                                        hbspt.forms.create({
                                            region: "na1",
                                            portalId: "4249967",
                                            formId: "{{ sidebarFormID }}",
                                            onFormReady: function(form) {
                                                const formEl = form[0];
                                                const customHubspotFormScripts = new CustomEvent('customHubspotFormScripts', {
                                                    detail: {
                                                        form: formEl,
                                                        shortenSelects: true,
                                                    },
                                                });
                                                document.dispatchEvent(customHubspotFormScripts);
                                            },
                                        });
                                    </script>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% set sectionId = '02' %}
{{ include('/sections/related-events.twig') }}

{% set sectionId = '03' %}
{{ include('/sections/subscribe.twig') }}
{% set sectionId = '' %}

{% endblock %}
