{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %}
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %}
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %}
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
	<meta property="og:type" content="article">
	<meta property="article:modified_time" content="{{ postModifyDate }}">
{% endblock %}
{% block main %}

{% set event = entry %}
{% set image = event.eventImage.one() %}
{% set date = event.eventDate %}
{% set readingTime = event.eventReadingTime %}
{% set title = event.title %}
{% set subtitle = event.eventSubtitle %}
{% set showShareIcons = event.eventShareIcons %}
{% set content = event.eventContent %}
{% set video = entry.eventVideo.one() %}
{% set videoPlaceholder = entry.eventVideoPlaceholder.one() %}
{% set sidebarTitle = event.eventSidebarTitle %}
{% set sidebarText = event.eventSidebarText %}
{% set sidebarButton = event.eventSidebarButton %}
{% set sidebarFormID = event.eventSidebarFormId %}
{% set relatedItem = event.eventRelatedItem.one() %}
{% set relatedSubtitle = event.eventRelatedItemsSubtitle %}
{% set relatedTitle = event.eventRelatedItemsTitle %}

{% set sectionId = '01' %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--event-details">
    {% if not image %}
    <div class="event-details__hero">
        <div class="event-details__hero-blur">
            <img src="{{ alias('@web/src/img/bg-shape/hero-blur.png') }}" alt="blur decoration">
        </div>
        <div class="event-details__hero-text-hld">
            <div class="u-wrapper u-wrapper--normal">
                {% if subtitle %}
                    <span class="event-details__hero-subtitle">{{ subtitle }}</span>
                {% endif %}
                <h1 class="event-details__hero-title">{{ title }}</h1>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="u-wrapper u-wrapper--events-listing">
        <div class="event-details-hld">
            {% if image %}
                {% set imageUrl = image.getUrl %}
                {% set imageAlt = image.title %}
                <div class="event-details__img-hld">
                    <img class="event-details__img js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
                </div>
                <div class="event-details-title-hld">
                    <h1 class="event-details-title">{{ title }}</h1>
                    {% if showShareIcons %}
                        <div class="event-details-share">
                            <a href="{{ 'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl() }}" title="Share event on Facebook">
                                <span class="icon icon-facebook"></span>
                            </a>
                            <a href="{{ 'https://twitter.com/intent/tweet?url='~entry.getUrl() }}" title="Share event on Twitter">
                                <span class="icon icon-twitter"></span>
                            </a>
                            <a href="{{ 'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl() }}" title="Share event on LinkedIn">
                                <span class="icon icon-linkedin"></span>
                            </a>
                            <a href="{{ 'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A' }}" title="Share event in e-mail">
                                <span class="icon icon-email"></span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="event-details-main {% if not image %}event-details-main--no-image{% endif %}">
                <div class="event-details-content">
                    <div class="event-details-content-inner event-details-content-inner--landing-page">
                        {% if date or readingTime or image %}
                            <div class="event-details-info">
                                {% if subtitle and image %}
                                    <div class="event-details__labels">
                                        <span class="event-details__label event-details__label--medium-light">{{ subtitle }}</span>
                                    </div>
                                {% endif %}
                                {% if date or readingTime %}
                                    <div class="event-details__time-and-date event-details__time-and-date--landing-page">
                                        {% if date %}
                                            <span class="event-details__date">{{ date }}</span>
                                        {% endif %}
                                        {% if readingTime %}
                                            <span class="event-details__length event-details__length--reading-time">{{ readingTime }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if content %}
                            <div class="event-details__content u-content">
                                {{ content }}
                            </div>
                        {% endif %}
                        {% if video %}
                            <div class="event-details__video-hld js-video-hld is-paused is-before-play">
                                <span class="icon icon-button_play"></span>
                                {% if videoPlaceholder %}
                                    <div class="event-details__video-placeholder">
                                        <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ videoPlaceholder.url }}" alt="" />
                                    </div>
                                {% endif %}
                                <video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ video.url }}"></video>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="event-details-sidebar">
                    {% if sidebarTitle or sidebarText or sidebarButton.customText or sidebarFormID %}
                        <div class="event-details-sidebar-box event-details-sidebar-box--{% if sidebarFormID %}normal{% else %}sticky{% endif %}">
                            {% if sidebarTitle %}
                                <span class="event-details-sidebar-box__title">{{ sidebarTitle }}</span>
                            {% endif %}
                            {% if sidebarText %}
                                <p class="event-details-sidebar-box__text">{{ sidebarText }}</p>
                            {% endif %}
                            {% if sidebarButton.customText %}
                                <div class="event-details-sidebar-box__btn-hld">
                                    {% if sidebarButton.url %}
                                        <a href="{{ sidebarButton.url }}" class="event-details-sidebar-box__btn u-btn u-btn--accent" target="{{ sidebarButton.target ? '_blank' : '_self' }}" rel="{{ sidebarButton.target ? 'noopener noreferrer' : null }}">
                                            <span class="text">{{ sidebarButton.customText }}</span>
                                        </a>
                                    {% else %}
                                        <span class="event-details-sidebar-box__btn u-btn u-btn--disabled">
                                            <span class="text">{{ sidebarButton.customText }}</span>
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if sidebarFormID %}
                                <div class="event-details-form u-dark-form u-bigger-form u-sidebar-form">
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                                    <script
                                            src="https://code.jquery.com/jquery-3.6.0.min.js"
                                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                                            crossorigin="anonymous">
                                    </script>
                                    <script>
                                        function handleState() {
                                            const fields = document.querySelectorAll('.field input');
                                            const selects = document.querySelectorAll('.hs-fieldtype-select select');
                                            if (fields && fields.length > 0) {
                                                fields.forEach(field => {
                                                    field.addEventListener('input', () => {
                                                        field.parentNode.parentNode.classList.add('is-active');
                                                        if (!field.value) {
                                                            field.parentNode.parentNode.classList.remove('is-active');
                                                        }
                                                    });
                                                });
                                            }
                                            if (selects && selects.length > 0) {
                                                selects.forEach(select => {
                                                    select.addEventListener('change', () => {
                                                        select.parentNode.parentNode.classList.add('is-active');
                                                        handleState();
                                                    });
                                                });
                                            }
                                        };
                                        hbspt.forms.create({
                                            region: "na1",
                                            portalId: "4249967",
                                            formId: "{{ sidebarFormID }}",
                                            onFormReady: function() {
                                                handleState();
                                            },
                                        });
                                    </script>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if relatedItem %}
    {% if relatedItem.type.handle == 'singleNews' %}
        {% set sectionId = '02' %}
        <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--related-news">
            <div class="u-wrapper">
                <div class="related-news">
                    <span class="related-news__subtitle u-subtitle u-subtitle--section">{% if relatedSubtitle %}{{ relatedSubtitle}}{% else %}News{% endif %}</span>
                    <h2 class="u-title related-news__title">{% if relatedTitle %}{{ relatedTitle}}{% else %}Related News{% endif %}</h2>
                    {% set postRelatedCategories = relatedItem.postRelatedCategories %}
                    {% set postMainCategory = relatedItem.postMainCategory %}
                    {% set relatedEntries = craft.entries.section('newsPosts').relatedTo(['or',{ targetElement: postRelatedCategories,field: 'postRelatedCategories' },{targetElement: postMainCategory, field: 'postMainCategory' }]).id('not '~relatedItem.id) %}
                    <div class="related-news__listing">
                        {% set relatedNews = relatedEntries.limit(3) %}
                        {% if relatedNews|length %}
                            {% for post in relatedNews.all() %}
                                {% set image = post.newsPostsfeaturedImage.one() %}
                                {% if image %}
                                    {% set imageUrl = image.getUrl() %}
                                    {% set imageWidth = image.getWidth() %}
                                    {% set imageHeight = image.getHeight() %}
                                    {% set imageAlt = image.title %}
                                {% endif %}
                                {% set title = post.title %}
                                {% set desc = post.newsPostsExcerpt|striptags|striptags %}
                                {% set descSliced = desc|slice(0, 97) ~ '...' %}
                                <a href="{{ post.url}}" class="post">
                                    <div class="post__image-hld">
                                        {% if image %}
                                            <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
                                        {% else %}
                                            <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
                                        {% endif %}
                                    </div>
                                    <div class="post__date">{{ post.postDate | date("F d, Y") }}</div>
                                    <div class="post__title">{{ title|length > 45 ? title|slice(0, 42) ~ '...' : title }}</div>
                                    <div class="post__description">{{ desc|length > 100 ? descSliced|raw : desc|raw }}</div>
                                    <div class="post__btn u-btn u-btn--arrow">
                                        <span class="text">Read more</span>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    {% endif %}
    {% if relatedItem.type.handle == 'singleEvent' %}
        {% set sectionId = '02' %}
        {% set eventCategory = relatedItem.eventCategory.one() %}
        {% set relatedEntries = craft.entries.section('eventItems').relatedTo(['or',{targetElement: eventCategory, field: 'eventCategory' }]).id('not '~relatedItem.id) %}
        {% set relatedEvents = relatedEntries.limit(3) %}
        {% if relatedEvents|length %}
        <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--related-events">
            <div class="u-wrapper u-wrapper--events-listing">
                <div class="related-events-hld">
                    <span class="related-events__subtitle u-subtitle u-subtitle--section">{% if relatedSubtitle %}{{ relatedSubtitle}}{% else %}Where to find us{% endif %}</span>
                    <h2 class="related-events__title u-title u-title--section">{% if relatedTitle %}{{ relatedTitle}}{% else %}Related Events{% endif %}</h2>
                    <div class="related-events">
                        {% for event in relatedEvents.all() %}
                            {% set url = event.url %}
                            {% set additionalUrlParams = false %}
                            {% if event.eventExternalUrl %}
                            {% set url = event.eventExternalUrl %}
                            {% set additionalUrlParams = true %}
                            {% endif %}
                            {% set image = event.eventImage.one() %}
                            {% if image %}
                                {% set imageUrl = image.getUrl('eventItemListing') %}
                                {% set imageAlt = image.title %}
                            {% endif %}
                            {% set category = event.eventCategory.one() %}
                            {% set topic = event.eventTopic.one() %}
                            {% set date = event.eventDate %}
                            {% set time = event.eventTime %}
                            {% set place = event.eventPlace %}
                            {% set title = event.title %}
                            {% set excerpt = event.eventExcerpt %}
                            <a href="{{ url }}" class="event-item" {% if additionalUrlParams %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                <div class="event-item__img-hld">
                                    {% if image %}
                                        <img class="event-item__img js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
                                    {% else %}
                                        <img class="event-item__img event-item__img--disabled js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder-image.jpg') }}" width="408" height="225" alt="Wiliot placeholder image">
                                    {% endif %}
                                </div>
                                <div class="event-item__text-hld">
                                    {% if category or topic %}
                                        <div class="event-item__labels">
                                            {% if category %}
                                                {% set categoryColor = category.categoryColor %}
                                                {% set categoryTitle = category.titleSingular %}
                                                <span class="event-item__label event-item__label--{{ categoryColor }}">{{ categoryTitle }}</span>
                                            {% endif %}
                                            {% if topic %}
                                                {% set topicTitle = topic.title %}
                                                <span class="event-item__label event-item__label--very-light">{{ topicTitle }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if date or time %}
                                        <div class="event-item__time-and-date">
                                            {% if date %}
                                                <span class="event-item__date">{{ date }}</span>
                                            {% endif %}
                                            {% if time %}
                                                <span class="event-item__time">
                                                    <svg class="svg-clock">
                                                        <use xlink:href="#svg-clock"></use>
                                                    </svg>
                                                    {{ time }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if place %}
                                        <span class="event-item__place"><img src="{{ alias('@web/src/img/svg/location.svg') }}" width="16" height="16" alt="location icon" /> {{ place }}</span>
                                    {% endif %}
                                    <span class="event-item__title">{{ title }}</span>
                                    {% if excerpt %}
                                        <div class="event-item__excerpt">
                                            {{ excerpt }}
                                        </div>
                                    {% endif %}
                                    <div class="event-item__btn u-btn u-btn--arrow">
                                        <span class="text">Read more</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    {% endif %}
{% endif %}

{% set sectionId = '03' %}
{{ include('/sections/subscribe.twig') }}
{% set sectionId = '' %}

{% endblock %}
