{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %}
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %}
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %}
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
	<meta property="og:type" content="website">
{% endblock %}
{% block main %}
    <div id="js-logout-page"></div>
{% endblock %}
