{% extends "index.twig" %}
{% block title %}
	{{ entry.title }}
{% endblock %}
{% block head %}
	{{ parent() }}
{% endblock %}
{% block main %}
	{% set query = entry.postRelatedCategories.all() %}
	{% set category = entry.postMainCategory.one() %}
	{% set heroTitle = entry.heroTitle %}
	{% set heroImage = entry.newsPostsfeaturedImage.one() %}
	{% set newsContent = entry.postContent %}
	{% set postDate = entry.postDate|date("F d, Y") %}
	<section class="u-section u-section--hero-news">
		<div class="bg-shape-hld js-bg-shape-hld">
			<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
				<div class="s1 js-s1"></div>
				<div class="s2 js-s2"></div>
				<div class="s3 js-s3"></div>
			</div>
			<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
				<div class="s1 js-s1"></div>
				<div class="s2 js-s2"></div>
			</div>
		</div>
		<div class="u-wrapper">
			<div class="hero-news">
				<span class="hero-news__category">{{ category }}</span>
				<h1 class="hero-news__title">{{ heroTitle is not empty ? heroTitle : entry.title }}</h1>
				<span class="hero-news__publish-date">{{ postDate }}</span>
				{% if heroImage %}
					<img src="{{ heroImage.getUrl() }}" class="hero-news__image" alt="{{ heroTitle }}">
				{% endif %}
			</div>
		</div>
	</section>
	<article class="news-single js-bg-shape-hld">
		<div class="bg-shape bg-shape--center-right js-bg-shape" data-version="center-right">
			<div class="s1 js-s1"></div>
		</div>
		<div class="bg-shape bg-shape--bottom-right js-bg-shape" data-version="bottom-right">
			<div class="s1 js-s1"></div>
			<div class="s2 js-s2"></div>
		</div>
		<div class="bg-shape bg-shape--center-left js-bg-shape" data-version="center-left">
			<div class="s1 js-s1"></div>
		</div>
		<div class="u-wrapper">
			<div class="news-single__content">
				{{ newsContent }}
			</div>
			<div class="news-single__bottom-toolbar">
				<div class="news-single__share">
					<span>Share</span>
					<a href="{{'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl()}}">
						<span class="icon icon-facebook"></span>
					</a>
					<a href="{{'https://twitter.com/intent/tweet?url='~entry.getUrl()}}">
						<span class="icon icon-twitter"></span>
					</a>
					<a href="{{'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl()}}">
						<span class="icon icon-linkedin"></span>
					</a>
					<a href="{{'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A'}}">
						<span class="icon icon-email"></span>
					</a>
				</div>
				<div class="news-single__tags">
					<span>Related tags</span>
					{% for cat in query %}
						<a class="news-single__tag" href="{{ url(cat.uri) }}">
							{{ cat.title }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</article>
	{{ include('/sections/related-posts.twig') }}
{% endblock %}
