{% extends "index.twig" %}
{% if entry is defined %}
	{% set metaTitle = entry.metaTitle %}
	{% set metaDescription = entry.metaDescription %}
{% elseif category is defined %}
	{% set metaTitle = category.metaTitle %}
	{% set metaDescription = category.metaDescription %}
{% endif %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} 
	{% if entry is defined %}
		{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
	{% elseif category is defined %}
		{{ metaTitle ? metaTitle : category.title ~ ' | ' ~ siteName  }}
	{% endif %}
{% endblock %}
{% block description %} 
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %} 
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
{% endblock %}
{% block main %}
	{% set newsListingSection = craft.entries.section('newsListing') %}
	{% set newsListingSectionId = newsListingSection.sectionId[0] %}
	{% set newsListingSectionEntry = craft.entries.sectionId(newsListingSectionId)[0] %}
	{% set newsListingSectionUrl = newsListingSectionEntry.url %}
	{% set categories = craft.categories().group('newsCategories') %}
	{{ include('/sections/hero.twig') }}
	<section class="u-section u-section--news-listing">
		<div class="u-wrapper u-wrapper--medium-wide">
			<div class="news-listing js-load-more-hld">
				<div class="news-listing__filters-hld">
					<ul class="news-listing__filters-hld-inner">
						<li class="news-listing__filter news-listing__filter--all {% if entry is defined %} is-active {% endif %}">
							<a href="{{ newsListingSectionUrl }}">
								{% if entry is defined %}
									Blog Hub
								{% elseif category is defined %}
									<span class="icon icon-arrow-left"></span>
									Back to Blog Hub
								{% endif %}
							</a>
						</li>
						{% for cat in categories.all() %}
							{% set catPosts = craft.entries().postMainCategory(cat.id).all() %}
							{% if catPosts|length > 0 %}
								<li class="news-listing__filter {% if category is defined and category.title == cat.title %} is-active {% endif %}">
									<a href="{{ cat.url }}">{{ cat.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="news-listing__news-hld">
					{% if category is not defined %}
						<div class="news-listing__category-area area js-load-more-item">
							<div class="area__text-hld">
								<div class="area__title u-title u-title--section">Our Latest</div>
							</div>
							<div class="area__posts-hld">
								{% set latestNews = craft.entries.section('newsPosts').limit(3) %}
								{% if latestNews|length %}
									{% for post in latestNews.all() %}
										{% set image = post.newsPostsfeaturedImage.one() %}
										{% if image %}
											{% set imageUrl = image.getUrl() %}
											{% set imageWidth = image.getWidth() %}
											{% set imageHeight = image.getHeight() %}
											{% set imageAlt = image.title %}
										{% endif %}
										{% set title = post.title %}
										{% set desc = post.newsPostsExcerpt|striptags|striptags %}
										{% set descSliced = desc|slice(0, 97) ~ '...' %}
										<a href="{{ post.url}}" class="area__post post">
											<div class="post__image-hld">
												{% if image %}
													<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
												{% else %}
													<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
												{% endif %}
											</div>
											<div class="post__date">{{ post.postDate | date("F d, Y") }}</div>
											<div class="post__title">{{ title|length > 45 ? title|slice(0, 42) ~ '...' : title }}</div>
											<div class="post__description">{{ desc|length > 100 ? descSliced|raw : desc|raw }}</div>
											<div class="post__btn u-btn u-btn--arrow">
												<span class="text">Read more</span>
											</div>
										</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						{% for cat in categories.all() %}
							{% set catPosts = craft.entries().postMainCategory(cat.id).limit(3) %}
							{% if catPosts|length > 0 %}
								<div class="news-listing__category-area area js-load-more-item">
									<div class="area__text-hld">
										<div class="area__title u-title u-title--section">{{ cat.title }}</div>
										<a href="{{ cat.url }}" class="area__see-all">See All</a>
									</div>
									<div class="area__posts-hld">
										{% for catPost in catPosts.all() %}
											{% set image = catPost.newsPostsfeaturedImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl() %}
												{% set imageWidth = image.getWidth() %}
												{% set imageHeight = image.getHeight() %}
												{% set imageAlt = image.title %}
											{% endif %}
											{% set title = catPost.title %}
											{% set desc = catPost.newsPostsExcerpt|striptags %}
											{% set descSliced = desc|slice(0, 97) ~ '...' %}
											<a href="{{ catPost.url}}" class="area__post post">
												<div class="post__image-hld">
													{% if image %}
														<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
													{% else %}
														<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
													{% endif %}
												</div>
												<div class="post__date">{{ catPost.postDate | date("F d, Y") }}</div>
												<div class="post__title">{{ title|length > 45 ? title|slice(0, 42) ~ '...' : title }}</div>
												<div class="post__description">{{ desc|length > 100 ? descSliced|raw : desc|raw }}</div>
												<div class="post__btn u-btn u-btn--arrow">
													<span class="text">Read more</span>
												</div>
											</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
					{% if category is defined %}
						<div class="news-listing__category-area area">
							<div class="area__text-hld">
								<div class="area__title u-title u-title--section">{{ category.title }}</div>
							</div>
							<div class="area__posts-hld">
								{% set catPosts = craft.entries().postMainCategory(category.id).all() %}
								{% for catPost in catPosts %}
									{% set image = catPost.newsPostsfeaturedImage.one() %}
									{% if image %}
										{% set imageUrl = image.getUrl() %}
										{% set imageWidth = image.getWidth() %}
										{% set imageHeight = image.getHeight() %}
										{% set imageAlt = image.title %}
									{% endif %}
									{% set title = catPost.title %}
									{% set desc = catPost.newsPostsExcerpt|striptags %}
									{% set descSliced = desc|slice(0, 97) ~ '...' %}
									<a href="{{ catPost.url}}" class="area__post post js-load-more-item" data-max-items="12" data-load-items="6">
										<div class="post__image-hld">
											{% if image %}
												<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
											{% else %}
												<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
											{% endif %}
										</div>
										<div class="post__date">{{ catPost.postDate | date("F d, Y") }}</div>
										<div class="post__title">{{ title|length > 45 ? title|slice(0, 42) ~ '...' : title }}</div>
										<div class="post__description">{{ desc|length > 100 ? descSliced|raw : desc|raw }}</div>
										<div class="post__btn u-btn u-btn--arrow">
											<span class="text">Read more</span>
										</div>
									</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					<button class="news-listing__btn u-btn u-btn--light js-load-more-btn">
						<span class="text">
							{% if category is not defined %}
								Load More Categories
							{% else %}
								Load More
							{% endif %}
						</span>
					</button>
				</div>
			</div>
		</div>
	</section>
	{{ include('/sections/subscribe.twig') }}
{% endblock %}
