{% extends "index.twig" %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} {% if entry is defined %} {{ entry.title }} {% elseif category is defined %} {{ category.title }} {% endif %} {% endblock %}
{% block main %}
	{% set newsListingSection = craft.entries.section('newsListing') %}
	{% set newsListingSectionId = newsListingSection.sectionId[0] %}
	{% set newsListingSectionEntry = craft.entries.sectionId(newsListingSectionId)[0] %}
	{% set newsListingSectionUrl = newsListingSectionEntry.url %}
	{{ include('/sections/hero.twig') }}
	<div class="u-section u-section--news-listing">
		<div class="u-wrapper u-wrapper--wide">
			<div class="news-listing">
				<div class="news-listing__filters-hld">
					<div class="news-listing__filter news-listing__filter--all {% if entry is defined %} 'is-active' {% endif %}">
						<a href="{{ newsListingSectionUrl }}">Blog Hub</a>
					</div>
					{% set categories = craft.categories() %}
					{% for cat in categories %}
						<div class="news-listing__filter {% if category is defined and category.title == cat.title %} 'is-active' {% endif %}">
							<a href="{{ cat.url }}">{{ cat.title }}</a>
						</div>
					{% endfor %}
				</div>
				<div class="news-listing__news-hld">
					{% if category is not defined %}
						<div class="news-listing__category-area area">
							<div class="area__title">Our Latest</div>
							<div class="area__posts-hld">
								{% set latestNews = craft.entries.section('newsPosts').limit(3) %}
								{% if latestNews|length %}
									{% for post in latestNews %}
										{% set desc = post.newsPostsDescription %}
										{% set descSliced = desc|slice(0, 50) ~ '...' %}
										<a href="{{ post.url}}" class="area__post post">
											<div class="post__title">{{ post.title }}</div>
											<div class="post__description">	{{ desc|length > 30 ? descSliced|raw : desc|raw  }}</div>
											<div class="post__button u-btn u-btn--arrow">Read more</div>
										</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						{% for cat in categories %}
							<div class="news-listing__category-area"> 
								<div class="area__title">{{ cat.title }}</div>
								<div class="area__posts-hld">
									{% set catPosts = craft.entries().newsPostsCategories(cat.id).all() %}
									{% for catPost in catPosts %}
										{% set desc = catPost.newsPostsDescription %}
										{% set descSliced = desc|slice(0, 50) ~ '...' %}
										<a href="{{ catPost.url}}" class="area__post post">
											<div class="post__title">{{ catPost.title }}</div>
											<div class="post__description">	{{ desc|length > 30 ? descSliced|raw : desc|raw  }}</div>
											<div class="post__button u-btn u-btn--arrow">Read more</div>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					{% endif %}
					{% if category is defined %}
						<div class="news-listing__category-area"> 
							<div class="area__title">{{ category.title }}</div>
							<div class="area__posts-hld">
								{% set catPosts = craft.entries().newsPostsCategories(category.id).all() %}
								{% for catPost in catPosts %}
									{% set desc = catPost.newsPostsDescription %}
									{% set descSliced = desc|slice(0, 50) ~ '...' %}
									<a href="{{ catPost.url}}" class="area__post post">
										<div class="post__title">{{ catPost.title }}</div>
										<div class="post__description">	{{ desc|length > 30 ? descSliced|raw : desc|raw  }}</div>
										<div class="post__button u-btn u-btn--arrow">Read more</div>
									</a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %} 
