{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} 
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %} 
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %} 
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
	<meta property="og:type" content="article"/>
	<meta property="article:modified_time" content="{{ postModifyDate }}" />
{% endblock %}
{% block main %}
	{% set query = entry.postRelatedCategories.all() %}
	{% set category = entry.postMainCategory.one() %}
	{% if category == 'Events' %}
		{% set category = 'Event' %}
	{% elseif category == 'Announcements' %}
		{% set category = 'Announcement' %}
	{% endif %}
	{% set heroTitle = entry.heroTitle %}
	{% if entry.newsPostsHeroImage.one() %}
		{% set heroImage = entry.newsPostsHeroImage.one() %}
	{% else %}
		{% set heroImage = entry.newsPostsfeaturedImage.one() %}
	{% endif %}
	{% set newsContent = entry.postContent %}
	{% set newsPostsEventText = entry.newsPostsEventText %}
	{% set postDate = entry.postDate|date("F d, Y") %}
	{% set sectionId = '01' %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--hero-news {{ heroImage ? null : 'is-no-featured-image' }}">
		<div class="bg-shape-hld js-bg-shape-hld">
			<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
				<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
				<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
				<img class="s3 js-s3 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
			</div>
			<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
				<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-2.png' )}}" alt="Background shape blurry blob">
			</div>
		</div>
		<div class="u-wrapper">
			<div class="hero-news">
				<span class="hero-news__category">{{ category }}</span>
				<h1 class="hero-news__title">{{ heroTitle is not empty ? heroTitle : entry.title }}</h1>
				<div class="hero-news__publish-date">{{ newsPostsEventText ? newsPostsEventText : postDate }}</div>
				{% if heroImage %}
					<img src="{{ heroImage.getUrl() }}" class="hero-news__image" alt="{{ heroTitle }}">
				{% endif %}
			</div>
		</div>
	</section>
	{% set sectionId = '02' %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="news-single js-bg-shape-hld {{ heroImage ? null : 'is-no-featured-image' }}">
		<div class="bg-shape bg-shape--center-right js-bg-shape" data-version="center-right">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-right.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="bg-shape bg-shape--bottom-right js-bg-shape" data-version="bottom-right">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-1.png' )}}" alt="Background shape blurry blob">
			<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-2.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="bg-shape bg-shape--center-left js-bg-shape" data-version="center-left">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-left.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="u-wrapper">
			<div class="news-single__content">
				{{ newsContent }}
			</div>
			<div class="news-single__bottom-toolbar">
				<div class="news-single__share">
					<span>Share</span>
					<a href="{{'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl()}}">
						<span class="icon icon-facebook"></span>
					</a>
					<a href="{{'https://twitter.com/intent/tweet?url='~entry.getUrl()}}">
						<span class="icon icon-twitter"></span>
					</a>
					<a href="{{'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl()}}">
						<span class="icon icon-linkedin"></span>
					</a>
					<a href="{{'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A'}}">
						<span class="icon icon-email"></span>
					</a>
				</div>
				<div class="news-single__tags">
					<div class="title">Related tags</div>
					<div class="items">
						{% for cat in query %}
							<a class="news-single__tag" href="{{ url(cat.uri) }}">
								{{ cat.title }}
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% set sectionId = '03' %}
	{{ include('/sections/related-posts.twig') }}
	{% set sectionId = '' %}
{% endblock %}
