{% extends "index.twig" %}
{% block title %}
	{{ siteName }} - {{ entry.title }}
{% endblock %}
{% block head %}
	{{ parent() }}
{% endblock %}
{% block main %}
	{% set title = entry.title %}
	{% set number = entry.podcastDetailsNumber %}
	{% set id = entry.podcastDetailsID %}
	{% set content = entry.podcastDetailsContent %}
	{% set transcript = entry.podcastDetailsTranscript %}
	{% set date = entry.postDate|date("F d, Y") %}
	<section class="u-section u-section--hero-podcast-details">
		<div class="video-wrapper">
			<iframe allow="autoplay" src="https://www.youtube.com/embed/{{id}}?rel=1&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist={{id}}&amp;showinfo=0&amp;wmode=transparent&amp;controls=0&amp;enablejsapi=1&amp;origin=https://www.wiliot.com" frameborder="0" width="640" height="360" class="youtube-video"></iframe>
		</div>
		<div class="hero-podcast-details">
			{% if id %}
				<a target="_blank" href="https://www.youtube.com/watch?v={{id}}" class="hero-podcast-details__btn u-btn u-btn--white">
					<span class="icon icon-play"></span>Watch video</a>
			{% endif %}
		</div>
	</section>
	<article class="podcast-details">
		<div class="u-wrapper u-wrapper--content">
			<div class="podcast-details__header">
				{% if number %}
					<h2 class="header__subtitle">Mister Beacon Episode #{{number}}</h2>
				{% endif %}
				<h1 class="header__title">{{title}}</h1>
				<span class="header__date">{{date}}</span>
			</div>
		</div>
		<div class="podcast-details__content">
			<div class="u-wrapper u-wrapper--content">
				<div class="content-wrapper">
					{{content}}
				</div>
				<div class="podcast-details__bottom-toolbar">
					<div class="podcast-details__share">
						<span>Share</span>
						<a href="{{'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl()}}">
							<span class="icon icon-facebook"></span>
						</a>
						<a href="{{'https://twitter.com/intent/tweet?url='~entry.getUrl()}}">
							<span class="icon icon-twitter"></span>
						</a>
						<a href="{{'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl()}}">
							<span class="icon icon-linkedin"></span>
						</a>
						<a href="{{'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A'}}">
							<span class="icon icon-email"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="podcast-details__subscribe">
			{% set title = entry.subscribeTitle %}
			{% set subtitle = entry.subscribeSubtitle %}
			{% set button = entry.subscribeButton %}
			<div class="u-wrapper">
				<div class="subscribe">
					{% if subtitle %}
						<span class="subscribe__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
					{% endif %}
					{% if title %}
						<h2 class="subscribe__title u-title u-title--section">{{ title }}</h2>
					{% endif %}
					{% if button.getUrl() %}
						<a href="{{button.getUrl()}}" class="btn u-btn u-btn--light row__button">
							{{button.customText}}</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="podcast-details__transcript">
			<div class="u-wrapper u-wrapper--content">
				<h2 class="transcript__title">
					Transcript
				</h2>
				{% if transcript %}
					<ul class="transcript__listing">
						{% for part in transcript %}
							{% set title = part.partTitle %}
							{% set text = part.partText %}
							{% set time = part.partTime %}

							<li class="transcript__part part">
								<div class="part__header">
									{% if title %}
										<span class="part__title">{{title}}</span>
									{% endif %}
									{% if time %}
										<span class="part__time">{{time}}</span>
									{% endif %}
								</div>
								{% if text %}
									<div class="part__text">{{text}}</div>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}


			</div>
		</div>
	</article>
{% endblock %}
