{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} 
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %} 
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %} 
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
{% endblock %}
{% block main %}
	{% set title = entry.title %}
	{% set number = entry.podcastDetailsNumber %}
	{% set id = entry.podcastDetailsID %}
	{% set podcastDetailsHeroButton = entry.podcastDetailsHeroButton %}
	{% set content = entry.podcastDetailsContent %}
	{% set transcript = entry.podcastDetailsTranscript %}
	{% set date = entry.postDate|date("F d, Y") %}
	<section class="u-section u-section--hero-podcast-details js-modal-hld">
		<div class="video-wrapper">
			<iframe allow="autoplay" data-src="https://www.youtube.com/embed/{{ id }}?rel=1&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist={{ id }}&amp;showinfo=0&amp;wmode=transparent&amp;controls=0&amp;enablejsapi=1&amp;origin=https://www.wiliot.com" frameborder="0" width="640" height="360" class="youtube-video js-lazy"></iframe>
		</div>
		<div class="hero-podcast-details">
			{% if id %}
				<button class="btn btn--first u-btn u-btn--white js-modal-btn">
					<span class="icon icon-play"></span>
					<span class="text">Watch video</span>
				</button>
			{% endif %}
			{% if podcastDetailsHeroButton %}
				<a href="{{ podcastDetailsHeroButton.url }}" target="{{ podcastDetailsHeroButton.target ? '_blank' : '_self' }}" rel="{{ podcastDetailsHeroButton.target ? 'noopener noreferrer' : null }}" class="btn btn--second u-btn u-btn--bordered">
					<span class="text">{{ podcastDetailsHeroButton.customText }}</span>
				</a>
			{% endif %}
		</div>
		<div class="video-modal js-modal-modal">
			<div class="overlay js-modal-close"></div>
			<div class="video-modal__inner">
				<div class="video-modal__modal">
					<iframe width="560" height="315" class="js-lazy js-modal-iframe" data-src="https://www.youtube.com/embed/{{ id }}?rel=1&amp;autoplay=1&amp;playlist={{ id }}&amp;origin=https://www.wiliot.com" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<span class="video-modal__close js-modal-close">
					<span class="icon icon-close"></span>
				</span>
			</div>
		</div>
	</section>
	<article class="podcast-details">
		<div class="u-wrapper u-wrapper--content">
			<div class="podcast-details__header">
				{% if number %}
					<h2 class="header__subtitle">Mister Beacon Episode #{{ number }}</h2>
				{% endif %}
				<h1 class="header__title">{{ title }}</h1>
				<span class="header__date">{{ date }}</span>
			</div>
		</div>
		<div class="podcast-details__content">
			<div class="u-wrapper u-wrapper--content">
				<div class="content-wrapper">
					{{content}}
				</div>
				<div class="podcast-details__bottom-toolbar">
					<div class="podcast-details__share">
						<span>Share</span>
						<a href="{{ 'https://www.facebook.com/sharer/sharer.php?u='~entry.getUrl() }}">
							<span class="icon icon-facebook"></span>
						</a>
						<a href="{{ 'https://twitter.com/intent/tweet?url='~entry.getUrl() }}">
							<span class="icon icon-twitter"></span>
						</a>
						<a href="{{ 'https://www.linkedin.com/shareArticle?mini=true&url='~entry.getUrl() }}">
							<span class="icon icon-linkedin"></span>
						</a>
						<a href="{{ 'mailto:info@example.com?&subject=&cc=&bcc=&body='~entry.getUrl()~'%0A' }}">
							<span class="icon icon-email"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="podcast-details__subscribe js-bg-shape-hld">
			<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
				<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
				<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
				<img class="s3 js-s3 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
			</div>
			<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
				<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-2.png' )}}" alt="Background shape blurry blob">
			</div>
			<div class="u-wrapper">
				<div class="subscribe js-modal-hld">
					{% set title = entry.subscribeTitle ? entry.subscribeTitle : subscribePodcasts.subscribeTitle %}
					{% set subtitle = entry.subscribeSubtitle ? entry.subscribeSubtitle : subscribePodcasts.subscribeSubtitle %}
					{% set buttonText = entry.subscribeButton.customText ? entry.subscribeButton.customText : subscribePodcasts.subscribeButton.customText %}
					{% if subtitle %}
						<span class="subscribe__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
					{% endif %}
					{% if title %}
						<h2 class="subscribe__title u-title u-title--section">{{ title }}</h2>
					{% endif %}
					{% if buttonText %}
					<button class="btn u-btn u-btn--light row__button js-modal-btn">
						<span class="text">
							{{ buttonText }}
						</span>
					</button>
					<div class="subscribe-modal js-modal-modal">
						<div class="overlay js-modal-close"></div>
						<div class="subscribe-modal__inner">
							<div class="subscribe-modal__modal">
								{{ include('/sections/subscribe-form-podcasts.twig') }}
							</div>
							<span class="subscribe-modal__close js-modal-close">
								<span class="icon icon-close"></span>
							</span>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if transcript %}
		<div class="podcast-details__transcript">
			<div class="u-wrapper u-wrapper--content">
				<h2 class="transcript__title">
					Transcript
				</h2>
					<ul class="transcript__listing">
						<li class="transcript__part part">
							<div class="part__text">{{ transcript }}</div>
						</li>
					</ul>
			</div>
		</div>
		{% endif %}
	</article>
{% endblock %}