{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %} 
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %} 
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %} 
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
	<meta property="og:type" content="article"/>
	<meta property="article:modified_time" content="{{ postModifyDate }}" />
{% endblock %}
{% block main %}
	{% set popupTopSubtitle = entry.popupTopSubtitle %}
	{% set popupTitle = entry.title %}
	{% set popupBottomSubtitle =entry.popupBottomSubtitle %}
	{% set popupText = entry.popupText %}
	{% set popupButton = entry.popupButton %}
	<div class="popup js-popup is-visible">
		<div class="popup__overlay js-popup-close"></div>
		<div class="popup__inner js-bg-shape-hld">
			<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
				<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/popup.png' )}}" alt="Background shape blurry blob">
			</div>
			<div class="popup__close-hld js-popup-close">
				<span class="icon icon-close js-popup-close-icon"></span>
			</div>
			<div class="popup__text-hld">
				{% if popupTopSubtitle %}
					<div class="popup__subtitle popup__subtitle--top u-subtitle u-subtitle--big">{{ popupTopSubtitle }}</div>
				{% endif %}
				<h2 class="popup__title u-title u-title--medium-big">{{ popupTitle }}</h2>
				{% if popupBottomSubtitle %}
					<div class="popup__subtitle popup__subtitle--bottom u-subtitle u-subtitle--big">{{ popupBottomSubtitle }}</div>
				{% endif %}
				<div class="popup__text">{{ popupText }}</div>
				{% if popupButton and popupButton.getUrl() %}
					<a href="{{ popupButton.getUrl() }}" target="{{ popupButton.target ? '_blank' : '_self' }}" rel="{{ popupButton.target ? 'noopener noreferrer' : null }}" class="popup__btn u-btn u-btn--accent">
						<span class="text">
							{{ popupButton.customText }}
						</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
