{% set mainTitle = entry.bbBriefHistoryMainTitle %}
{% set rowMatrix = entry.bbBriefHistoryRowMatrix %}
{% if mainTitle and rowMatrix %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--bb-brief-history js-bg-shape-hld">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/bb-brief-history.css') }}?v=02112023">
		<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
			<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-2.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="u-wrapper u-wrapper--medium">
			<div class="bb-brief-history">
				<div class="bb-brief-history__main-title">{{ mainTitle|raw|nl2br }}</div>
				{% for row in rowMatrix %}
					{% set itemText = row.itemText %}
					{% set itemImage = row.itemImage.one() %}
					<div class="bb-brief-history__row {{ (loop.index is even) ? 'is-even' : 'is-odd' }}">
						<div class="bb-brief-history__text">{{ itemText }}</div>
						<div class="bb-brief-history__image-hld">
							<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ itemImage.getUrl() }}" alt="{{ itemImage.title }}" width="300" height="222">
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
