{% set careersTitle = entry.careersTitle %}
{% set careersDescription = entry.careersDescription %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--careers-listing">
	<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/careers-listing.css') }}?v=21092023">
	<div class="careers-listing">
		<div class="u-wrapper">
			<div class="careers-listing__text-hld">
				<div class="title u-title u-title--section">{{ careersTitle }}</div>
				<div class="description">{{ careersDescription }}</div>
			</div>
			<div class="careers-listing__filters-n-sort-hld">
				<div class="careers-listing__filters-hld is-hidden js-careers-listing-filters-hld">
					<div class="filter-item-chosen">
						<div class="chosen">
							<span class="text js-careers-listing-filters-chosen">Location: All</span>
							<div class="filters-dropdown js-careers-listing-filters-dropdown is-hidden"></div>
						</div>
					</div>
				</div>
				<div class="careers-listing__sort-hld js-careers-listing-sort-hld">
					<div class="sort-item-chosen">
						<div class="chosen">
							<span class="text js-careers-listing-sort-chosen">Sort: Country A to Z</span>
							<div class="sort-dropdown js-careers-listing-sort-dropdown is-hidden">
								<div class="sort-item js-careers-listing-sort-item-1 is-active">
									Country A to Z
								</div>
								<div class="sort-item js-careers-listing-sort-item-2">
									Country Z to A
								</div>
								<div class="sort-item js-careers-listing-sort-item-3">
									Job title A to Z
								</div>
								<div class="sort-item js-careers-listing-sort-item-4">
									Job title Z to A
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="careers-listing__items-hld hidden js-careers-listing"></div>
			<script type="comeet-social"></script>
		</div>
	</div>
</section>
<fscript src="{{ alias('@web/src/js/careersListing.min.js') }}"></fscript>
