{% set text = entry.contentCenteredText %}
{% set link = entry.contentCenteredButton %}
<section class="u-section--content-centered u-section js-bg-shape-hld">
	<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
		<div class="s1 js-s1"></div>
		{# <img class="s1 js-s1 js-lazy" data-src="{{ alias('@web/src/img/homepage/features.png' )}}" alt=""> #}
		<div class="s2 js-s2"></div>
		<div class="s3 js-s3"></div>
	</div>
	<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
		<div class="s1 js-s1"></div>
		<div class="s2 js-s2"></div>
	</div>
	<div class="u-wrapper u-wrapper--small">
		<div class="content-centered js-modal-hld">
			{% if text %}
				<div class="content-centered__text">
					{{ text }}
				</div>
			{% endif %}
			{% if link.getUrl() %}
				<a href="{{ link.getUrl() }}" class="content-centered__link u-btn u-btn--arrow">
					<span class="text">{{ link.customText }}</span>
				</a>
			{% else %}
				<button class="content-centered__link u-btn u-btn--arrow js-modal-btn">
					<span class="text">
						{{ link.customText }}
					</span>
				</button>
				<div class="subscribe-modal js-modal-modal">
					<div class="overlay js-modal-close"></div>
					<div class="subscribe-modal__inner">
						<div class="subscribe-modal__modal">
							{{ include('/sections/subscribe-form-normal.twig') }}
						</div>
						<span class="subscribe-modal__close js-modal-close">
							<span class="icon icon-close"></span>
						</span>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
