{% set subtitle = entry.contentTwoColumnsSubtitle %}
{% set title = entry.contentTwoColumnsTitle %}
{% set centered = entry.contentTwoColumnsTextCentered %}
{% set content = entry.contentTwoColumnsContent %}
{% set videoLink = entry.contentTwoColumnsVideoLink %}
<section class="u-section u-section--two-columns">
	<div class="two-columns js-modal-hld">
		{% if subtitle %}
			<h5 class="two-columns__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</h5>
		{% endif %}
		{% if title %}
			<h2 class="two-columns__title u-title u-title--section">{{ title }}</h2>
		{% endif %}
		{% if centered %}
			<p class="two-columns__centered">{{centered}}</p>
		{% endif %}
		{% if content %}
			<div class="two-columns__content">
				{{content}}
			</div>
		{% endif %}
		{% if videoLink and videoLink.getUrl() %}
			<button class="btn u-btn u-btn--light two-columns__button js-modal-btn">
				<span class="icon icon-play"></span>
				<span data-video-src="{{ videoLink.getUrl() }}" class="text">Watch video</span>
			</button>
			<div class="video-modal js-modal-modal">
				<div class="overlay js-modal-close"></div>
				<div class="video-modal__inner">
					<div class="video-modal__modal">
						<iframe width="560" height="315" class="js-lazy js-modal-iframe" data-src="{{ videoLink.getUrl() }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<span class="video-modal__close js-modal-close">
						<span class="icon icon-close"></span>
					</span>
				</div>
			</div>
		{% endif %}
	</div>
</section>
