{% set subtitle = entry.editorialSubtitle %}
{% set title = entry.editorialTitle %}
{% set magazine = entry.editorialMagazine.one() %}
{% set button = entry.editorialButton %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--editorial">
	<div class="u-wrapper">
		<div class="editorial">
			{% if subtitle %}
				<span class="u-subtitle editorial__subtitle u-subtitle--section">{{ subtitle }}</span>
			{% endif %}
			{% if magazine %}
				<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ magazine.getUrl() }}" class="js-lazy editorial__magazine" alt="{{ title }}">
			{% endif %}
			{% if title %}
				<h2 class="editorial__title u-title u-title--section">{{ title }}</h2>
			{% endif %}
			{% if button.getUrl() %}
				<a href="{{ button.getUrl() }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="btn btn--read u-btn u-btn--light">
					<span class="text">
						{{ button.customText }}
					</span>
				</a>
			{% endif %}
		</div>
	</div>
</section>
