{% set title = entry.featuresTitle %}
{% set subtitle = entry.featuresSubtitle %}
{% set contentList = entry.featuresContentList.all() %}
{% set button = entry.featuresButton %}
{% set mobileImages = ['hyperthin-iot-edge-nodes', 'connect-everything', 'fabric-of-intelligence'] %}
<section class="u-section u-section--features js-bg-shape-hld">
	<div class="bg-shape bg-shape--bottom-right js-bg-shape" data-version="bottom-right">
		<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-1.png' )}}" alt="Background shape blurry blob">
		<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-2.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="u-wrapper">
		<div class="features">
			{% if subtitle %}
				<span class="features__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
			{% endif %}
			{% if title %}
				<h2 class="features__title u-title u-title--section">{{ title }}</h2>
			{% endif %}
			<div class="features__grid">
				{% for content in contentList %}
					{% set title = content.featureContentTitle %}
					{% set description = content.featureContentDescription %}
					{% set featureButton = content.featureButton %}
					<div class="item">
						<div class="item__content">
							<h3 class="item__title">{{ title }}</h3>
							<div class="item__description">{{ description }}</div>
							{% if featureButton and featureButton.getUrl() %}
								<a href="{{ featureButton.getUrl() }}" class="item__btn u-btn u-btn--arrow">
									<span class="text">
										{{ featureButton.customText }}
									</span>
								</a>
							{% endif %}
							{% if loop.index < 3 %}
								<img class="item__image-mobile js-lazy" width="345" height="345" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/homepage/'~mobileImages[loop.index - 1]~'.png') }}" alt="{{ title }}">
							{% endif %}
						</div>
					</div>
				{% endfor %}
				<div class="item">
					<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/homepage/Hyper-thin-IoT-Edge-Nodes@2x.png' )}}" alt="Background shape blurry blob">
				</div>
			</div>
			<a href="{{ button.url }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="features__btn u-btn u-btn--light">
				<span class="text">{{ button.title }}</span>
			</a>
		</div>
	</div>
</section>
