{% set subtitle = entry.featuredPodcastSubtitle %}
{% set title = entry.featuredPodcastTitle %}
{% set video = entry.featuredPodcastVideo.one() %}
{% set button = entry.featuredPodcastButton %}
<section class="u-section u-section--featured-podcast">
	<div class="u-wrapper">
		<div class="featured-podcast">
			<div class="featured-podcast__video js-video-hld is-paused">
				<span class="icon icon-button_play"></span>
				{% if video is not null %}
					<video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ video.url }}"></video>
				{% endif %}
			</div>
			<div class="featured-podcast__content">
				{% if subtitle %}
					<span class="u-subtitle featured-podcast__subtitle u-subtitle--section">{{ subtitle }}</span>
				{% endif %}
				{% if title %}
					<h2 class="featured-podcast__title u-title u-title--section">{{ title }}</h2>
				{% endif %}
				{% if button.getUrl() %}
					<a href="{{ button.getUrl() }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="btn featured-podcast__btn u-btn u-btn--light">
						<span class="text">
							{{ button.customText }}
						</span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
