{% set title = entry.featuredSliderTitle %}
{% set subtitle = entry.featuredSliderSubtitle %}
{% set blocks = entry.featuredSliderBlocks %}
{% set titleUnder = entry.featuredSliderUnderTitle %}
{% set subtitleUnder = entry.featuredSliderUnderSubtitle %}
{% set blocksUnder = entry.featuredSliderBlocksUnder %}
{% if blocks|length > 0 %}
    <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--featured-slider">
        <div class="u-wrapper">
            <div class="featured-slider-hld">
                {% if subtitle %}
                    <span class="featured-slider__subtitle u-subtitle u-subtitle--section u-subtitle--centered">{{ subtitle }}</span>
                {% endif %}
                {% if title %}
                    <h2 class="featured-slider__title u-title u-title--section u-title--centered">{{ title|nl2br }}</h2>
                {% endif %}
                {% if blocks %}
                    <div class="featured-slider">
                        <div class="featured-slider__slider js-featured-slider swiper-container" data-count="{{ blocks|length }}">
                            <div class="swiper-wrapper">
                                {% for item in blocks %}
                                    {% set title = item.itemTitle %}
                                    {% set link = item.itemUrl %}
                                    {% set image = item.itemLogo.one() %}
                                    {% if link != '' %}
                                    <a class="featured-slider-item featured-slider-item--linked swiper-slide slide" href="{{ link }}" target="_blank" rel="noopener noreferrer">
                                    {% else %}
                                    <div class="featured-slider-item swiper-slide slide">
                                    {% endif %}
                                        <div class="featured-slider-item__image-hld">
                                            {% if image %}
                                                <img class="js-lazy featured-slider-item__image" src="data:image/svg+xml,%3Csvgxmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.url }}" alt="{{ title }}">
                                            {% endif %}
                                        </div>
                                    {% if link != '' %}
                                    </a>
                                    {% else %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="featured-slider__btn featured-slider__btn--prev swiper-button swiper-button--prev js-featured-slider-button-prev">
                            <span class="icon icon-arrow-left"></span>
                        </div>
                        <div class="featured-slider__btn featured-slider__btn--next swiper-button swiper-button--next js-featured-slider-button-next">
                            <span class="icon icon-arrow-right"></span>
                        </div>
                    </div>
                {% endif %}
			</div>
			{% if blocksUnder and blocksUnder|length > 0 %}
				<div class="featured-slider-under-hld">
					{% if subtitleUnder %}
						<span class="featured-slider-under__subtitle u-subtitle u-subtitle--section u-subtitle--centered">{{ subtitleUnder }}</span>
					{% endif %}
					{% if titleUnder %}
						<h2 class="featured-slider-under__title u-title u-title--section u-title--centered">{{ titleUnder|nl2br }}</h2>
					{% endif %}
					<div class="featured-slider-under">
						<div class="featured-slider-under__slider js-featured-slider-under swiper-container" data-count="{{ blocksUnder|length }}">
							<div class="swiper-wrapper">
								{% for item in blocksUnder %}
									{% set title = item.itemTitle %}
									{% set link = item.itemUrl %}
									{% set image = item.itemLogo.one() %}
									{% set additionalStyles = item.additionalStyles %}
									{% if link != '' %}
									<a class="featured-slider-under-item featured-slider-under-item--linked swiper-slide slide" href="{{ link }}" target="_blank" rel="noopener noreferrer">
									{% else %}
									<div class="featured-slider-under-item swiper-slide slide">
									{% endif %}
										<div class="featured-slider-under-item__image-hld">
											{% if image %}
												<img class="js-lazy featured-slider-under-item__image" src="data:image/svg+xml,%3Csvgxmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.url }}" alt="{{ title }}" style="{{ additionalStyles }}">
											{% endif %}
										</div>
									{% if link != '' %}
									</a>
									{% else %}
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="featured-slider-under__btn featured-slider-under__btn--prev swiper-button swiper-button--prev js-featured-slider-under-button-prev">
							<span class="icon icon-arrow-left"></span>
						</div>
						<div class="featured-slider-under__btn featured-slider-under__btn--next swiper-button swiper-button--next js-featured-slider-under-button-next">
							<span class="icon icon-arrow-right"></span>
						</div>
					</div>
				</div>
            {% endif %}
        </div>
    </section>
{% endif %}
