{% set title = entry.fiftyFiftyTitle %}
{% set subtitle = entry.fiftyFiftySubtitle %}
{% set numeration = entry.fiftyFiftyNumeration %}

{% if numeration %}
	{% set numeration = numeration.contains('true') %}
{% endif %}

{% set rows = entry.fiftyFiftyRows %}

<section class="u-section u-section--fifty-fifty">
	<div class="u-wrapper">
		<div class="fifty-fifty">
			{% if subtitle %}
				<span class="fifty-fifty__subtitle u-subtitle">{{ subtitle }}</span>
			{% endif %}
			{% if title %}
				<h2 class="fifty-fifty__title u-title">{{ title }}</h2>
			{% endif %}
			{% if rows %}
				<div class="fifty-fifty__rows">
					{% for item in rows %}
						{% set title = item.rowTitle %}
						{% set description = item.rowDescription %}
						{% set image = item.rowImage.one() %}
						{% set button = item.rowButton %}
						<div class="row {{loop.index % 2 == 0 ? '' : 'row--reversed'}}">
							<div class="row__content">
								{% if numeration %}
									<span class="row__number">{{ loop.index < 10 ? '0'~loop.index : loop.index }}</span>
								{% endif %}
								{% if title %}
									<h3 class="row__title">{{title}}</h3>
								{% endif %}
								{% if description %}
									<p class="row__description">{{description}}</p>
								{% endif %}
								{% if button.getUrl() %}
									<a href="{{button.getUrl()}}" class="btn u-btn u-btn--light row__button">
										{{button.customText}}</a>
								{% endif %}

							</div>
							<div class="row__image">
								<img class="js-lazy" data-src="{{image.getUrl()}}" alt="{{title}}">
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

</section>
