{% set title = entry.fiftyFiftyTitle %}
{% set subtitle = entry.fiftyFiftySubtitle %}
{% set numeration = entry.fiftyFiftyNumeration %}
{% if numeration %}
	{% set numeration = numeration.contains('true') %}
{% endif %}
{% set rows = entry.fiftyFiftyRows.all() %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--fifty-fifty {% if entry.section|lower == 'homepage' %} js-bg-shape-hld {% endif %}">
	<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/fifty-fifty.css') }}?v=21092023">
	{% if entry.section|lower == 'homepage' %}
		<div class="bg-shape bg-shape--bottom-right js-bg-shape" data-version="bottom-right">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-1.png' )}}" alt="Background shape blurry blob">
			<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-right-2.png' )}}" alt="Background shape blurry blob">
		</div>
	{% endif %}
	<div class="u-wrapper">
		<div class="fifty-fifty">
			{% if subtitle %}
				<span class="fifty-fifty__subtitle u-subtitle">{{ subtitle }}</span>
			{% endif %}
			{% if title %}
				<h2 class="fifty-fifty__title u-title">{{ image.title }}</h2>
			{% endif %}
			{% if rows %}
				<div class="fifty-fifty__rows">
					{% for item in rows %}
						{% set title = item.rowTitle %}
						{% set description = item.rowDescription %}
						{% set excerpt = item.rowExcerpt %}
						{% set subtitle = item.rowSubtitle %}
						{% set image = item.rowImage.one() %}
						{% set imageContained = item.imageContained %}
						{% set button = item.rowButton %}
						<div class="row {{ loop.index % 2 == 0 ? '' : 'is-row-reversed' }}">
							<div class="row__content">
								{% if numeration %}
									<span class="row__number">{{ loop.index < 10 ? '0'~loop.index : loop.index }}</span>
								{% endif %}
								{% if subtitle %}
									<h4 class="row__subtitle">{{ subtitle }}</h4>
								{% endif %}
								{% if title %}
									<h2 class="row__title">{{ title }}</h2>
								{% endif %}
								{% if excerpt %}
									<p class="row__excerpt">{{ excerpt }}</p>
								{% endif %}
								{% if description %}
									<div class="row__description">{{ description }}</div>
								{% endif %}
								{% if button and button.getUrl() %}
									<a href="{{ button.getUrl() }}" class="btn u-btn {{ entry.section|lower != 'homepage' ? 'u-btn--light' : 'u-btn--arrow' }} row__button">
										<span class="text">
											{{ button.customText }}
										</span>
									</a>
								{% endif %}
							</div>
							{% if image and image.getUrl()%}
								<div class="row__image {{ item.imageContained.options[0].value == 'contained' and item.imageContained.options[0].selected == true ? 'row__image--contained' : '' }}">
									<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl() }}" alt="{{ title }}" width="602" height="458" />
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</section>
