{% set foundersMatrix = entry.foundersList.all() %}
{% set title = entry.foundersTitle %}
{% set image = entry.foundersImage.one() %}


<section class="u-section u-section--founders">
	<div class="founders">
		{% if title %}
			<h2 class="founders__title u-title u-title--section">{{ title }}</h2>
		{% endif %}

		{% if image %}
			<img data-src={{image.getUrl()}} class="founders__image js-lazy" alt={{title}}>
		{% endif %}
		<div class="founders__list">
			{% for item in foundersMatrix %}
				{% set name = item.personName %}
				{% set title = item.personTitle %}
				{% set linkedin = item.personLinkedinLink.getUrl() %}

				<div class="founder">
					{% if name %}
						<h4 class="founder__name">
							{{name}}
						</h4>
					{% endif %}
					{% if title %}
						<span class="founder__title">
							{{title}}
						</span>
					{% endif %}
					{% if linkedin %}
						<a href="{{linkedin}}">
							<img rel="noopener noreferrer" src="{{alias('@assets/img/icons/linkedin-dark.svg')}}" alt="linkedin">
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
