{% set foundersMatrix = entry.foundersList.all() %}
{% set title = entry.foundersTitle %}
{% set image = entry.foundersImage.one() %}
{% if title %}
<section class="u-section u-section--founders js-bg-shape-hld">
	<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
		<img class="s1 js-s1" src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
		<img class="s2 js-s2 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
		<img class="s3 js-s3 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="bg-shape bg-shape--center-left js-bg-shape" data-version="center-left">
		<img class="s1 js-s1 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-left.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="founders">
		{% if title %}
			<h2 class="founders__title u-title u-title--section">{{ title }}</h2>
		{% endif %}
		{% if image %}
			<img data-src="{{ image.getUrl() }}" class="founders__image js-lazy" alt={{ title }}>
		{% endif %}
		<div class="founders__list">
			{% for item in foundersMatrix %}
				{% set name = item.personName %}
				{% set title = item.personTitle %}
				{% set linkedin = item.personLinkedinLink.getUrl() %}

				<div class="founder">
					{% if name %}
						<h4 class="founder__name">
							{{name}}
						</h4>
					{% endif %}
					{% if title %}
						<span class="founder__title">
							{{ title }}
						</span>
					{% endif %}
					{% if linkedin %}
						<a href="{{ linkedin }}" target="_blank" rel="noopener noreferrer">
							<img src="{{ alias('@web/src/img/icons/linkedin.svg' )}}" alt="linkedin">
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
