{% if entry is defined %}
	{% set subtitle = entry.heroSubtitle %}
	{% set title = entry.heroTitle %}
	{% set size = entry.heroSizes.value %}
	{% set descriptionBold = entry.heroDescriptionBold %}
	{% set description = entry.heroDescription %}
{% elseif category is defined %}
	{% set subtitle = category.heroSubtitle %}
	{% set title = category.heroTitle %}
	{% set size = category.heroSizes.value %}
{% endif %}
{% if entry is defined or category is defined %}
	<section class="u-section u-section--hero is-{{ size }}">
		<div class="hero">
			<div class="hero__bg"></div>
			<div class="hero__text-hld u-wrapper">
				{% if subtitle %}
					<span class="hero__subtitle u-subtitle u-subtitle--big">{{ subtitle }}</span>
				{% endif %}
				{% if title %}
					<h1 class="hero__title u-title u-title--big">{{ title }}</h1>
				{% endif %}
				{% if descriptionBold %}
					<p class="hero__description hero__description--bold">{{ descriptionBold }}</p>
				{% endif %}
				{% if description %}
					<p class="hero__description">{{ description }}</p>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
