{% set itemsMatrix = entry.heroSliderItemsMatrix.all() %}
{% if itemsMatrix|length > 0 %}
    <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--hero-slider {% if itemsMatrix|length > 1 %} js-hero-slider-hld {% endif %}">
        <div class="hero-slider {% if itemsMatrix|length > 1 %} js-hero-slider swiper-container {% endif %}">
            {% if itemsMatrix|length > 1 %}
                <div class="arrow arrow--prev js-hero-slider-button-prev">
                    <span class="icon icon-dropdown-up"></span>
                </div>
                <div class="arrow arrow--next js-hero-slider-button-next">
                    <span class="icon icon-dropdown-down"></span>
                </div>
                <div class="hero-slider__progress-bar js-hero-slider-progress-bar"></div>
            {% endif %}
            <div class="hero-slider__inner swiper-wrapper">
                {% for item in itemsMatrix %}
                    {% set itemSubtitle = item.itemSubtitle %}
                    {% set itemTitle = item.itemTitle %}
                    {% set itemImage = item.itemImage.one() %}
                    {% set itemImageDuration = item.itemImageDuration %}
                    {% set itemDesktopVideoLink = item.itemDesktopVideoLink %}
                    {% set itemDesktopVideoPoster = item.itemDesktopVideoPoster.one() %}
                    {% set itemDesktopVideoDuration = item.itemDesktopVideoDuration %}
                    {% set itemMobileVideoLink = item.itemMobileVideoLink %}
                    {% set itemButtonsMatrix = item.itemButtonsMatrix.all() %}
                    <div class="hero-slider__item swiper-slide js-hero-slider-slide {% if itemDesktopVideoLink %} is-iframe {% endif %} {% if itemDesktopVideoLink %} js-hero-modal-hld {% endif %}" data-swiper-autoplay="{% if itemDesktopVideoDuration %}{{ itemDesktopVideoDuration * 1000 }}{% elseif (itemImageDuration) %}{{ itemImageDuration * 1000 }}{% else %}5000{% endif %}">
                        {% if itemDesktopVideoLink %}
                            <div class="hero-slider__item-video-hld is-desktop">
                                {% if itemDesktopVideoPoster %}
                                    <img src="{{ itemDesktopVideoPoster.getUrl() }}" alt="{{ itemDesktopVideoPoster.title }}" />
                                {% endif %}
                                <iframe class="js-lazy js-hero-slider-iframe" allow="autoplay" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ itemDesktopVideoLink }}" frameborder="0" width="1920" height="768"></iframe>
                            </div>
                        {% elseif (itemImage) %}
                            <div class="hero-slider__item-image-hld">
                                {% if loop.index0 == 0 %}
                                    <img src="{{ itemImage.getUrl() }}" alt="{{ itemImage.title }}" />
                                {% else %}
                                    <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ itemImage.getUrl() }}" alt="{{ itemImage.title }}" />
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="hero-slider__item-text-hld">
                            <div class="u-wrapper">
                                <div class="u-subtitle u-subtitle--big hero-slider__item-subtitle">{{ itemSubtitle }}</div>
                                <div class="u-title u-title--big hero-slider__item-title">{{ itemTitle|nl2br }}</div>
                                {% if itemDesktopVideoLink %}
                                    <div class="hero-slider__item-video-hld is-mobile">
                                        <iframe src="{% if itemMobileVideoLink %} {{ itemMobileVideoLink }} {% else %} {{ itemDesktopVideoLink }} {% endif %}" data-src="{% if itemMobileVideoLink %} {{ itemMobileVideoLink }} {% else %} {{ itemDesktopVideoLink }} {% endif %}" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                                {% if itemButtonsMatrix|length > 0 %}
                                    <div class="hero-slider__buttons-hld">
                                        {% for item in itemButtonsMatrix %}
                                            {% set button = item.button %}
                                            <a href="{{ button.url }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="btn btn--{{ loop.index }} u-btn {{ loop.index == 1 ? 'u-btn--accent' : 'u-btn--light' }}">
                                                <span class="text">{{ button.customText }}</span>
                                            </a>
                                        {% endfor %}
                                        {% if itemDesktopVideoLink %}
                                            <button class="btn u-btn u-btn--light js-hero-modal-btn" data-modal-id="{{ loop.index0 }}">
                                                <span class="icon icon-play"></span>
                                                <span class="text">Watch video</span>
                                            </button>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for item in itemsMatrix %}
                {% set itemDesktopVideoLink = item.itemDesktopVideoLink %}
                {% set itemMobileVideoLink = item.itemMobileVideoLink %}
                {% if itemDesktopVideoLink %}
                    <div class="video-modal js-hero-modal-modal" data-modal-id="{{ loop.index0 }}">
                        <div class="overlay js-hero-modal-close"></div>
                        <div class="video-modal__inner">
                            <div class="video-modal__modal">
                                <iframe width="560" height="315" class="js-lazy js-hero-modal-iframe" data-src="{% if itemMobileVideoLink %} {{ itemMobileVideoLink }} {% elseif (itemDesktopVideoLink) %} {{ itemDesktopVideoLink }} {% endif %}" title="video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="loader"></div>
                            </div>
                            <span class="video-modal__close js-hero-modal-close">
                                <span class="icon icon-close"></span>
                            </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
