{% set title = entry.heroDescImageTitle %}
{% set description = entry.heroDescImageDescription %}
{% set image = entry.heroDescImageImage.one() %}
{% set imageExternalUrl = entry.heroDescImageImageExternalUrl %}
{% if entry is defined %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--hero-desc-image js-bg-shape-hld">
		<div class="bg-shape bg-shape--center-center js-bg-shape" data-version="center-center">
			<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-center.png' )}}" alt="Background shape blurry blob">
		</div>
		<div class="u-wrapper">
			<div class="hero-desc-image">
				<div class="hero-desc-image__text-hld">
					{% if title %}
						<h1 class="hero-desc-image__title u-title u-title--big">{{ title }}</h1>
					{% endif %}
					{% if description %}
						<div class="hero-desc-image__description">{{ description|raw }}</div>
					{% endif %}
				</div>
				{% if imageExternalUrl %}
					<div class="hero-desc-image__img-hld">
						<img src="{{ imageExternalUrl }}" alt="{{ title }}" class="hero-desc-image__image" width="328" height="246">
					</div
				{% elseif image %}
					<div class="hero-desc-image__img-hld">
						<img src="{{ image.getUrl() }}" alt="{{ title }}" class="hero-desc-image__image" width="328" height="246">
					</div
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
