{% set videoBackgroundLink = entry.heroImageRightBackgroundVideoLink %}
{% set image = entry.heroImageRightImage.one() %}
{% set title = entry.heroImageRightTitle %}
{% set excerpt = entry.heroImageRightExcerpt %}
{% set videoLink = entry.heroImageRightVideoLink %}
{% set button = entry.heroImageRightButton %}
{% if entry is defined %}
	<section class="u-section u-section--hero-img-right">
		<div class="video-wrapper">
			<iframe allow="autoplay" data-src="{{ videoBackgroundLink }}" frameborder="0" width="1920" height="768" class="youtube-video js-lazy"></iframe>
		</div>
		<div class="u-wrapper">
			<div class="hero-img-right js-modal-hld">
				<div class="hero-img-right__content">
					{% if title %}
						<h1 class="hero-img-right__title u-title u-title--big">{{ title }}</h1>
					{% endif %}
					{% if excerpt %}
						<span class="hero-img-right__excerpt u-subtitle u-subtitle--big">{{ excerpt }}</span>
					{% endif %}
					<div class="hero-img-right__buttons">
						<a href="{{ button.getUrl()}}" class="btn btn--learn-more u-btn u-btn--accent">
							<span class="text">
							{{ button.customText }}
							</span>
						</a>
						<button class="btn u-btn u-btn--light js-modal-btn">
							<span class="icon icon-play"></span>
							<span data-video-src="{{ videoLink.getUrl() }}" class="text">Watch video</span>
						</button>
						<div class="video-modal js-modal-modal">
							<div class="overlay js-modal-close"></div>
							<div class="video-modal__inner">
								<div class="video-modal__modal">
									<iframe width="560" height="315" class="js-lazy js-modal-iframe" data-src="{{ videoLink.getUrl() }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<span class="video-modal__close js-modal-close">
									<span class="icon icon-close"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<img src="{{ image.getUrl() }}" width="730" height="714" alt="{{ title }}" class="hero-img-right__image">
			</div>
		</div>
	</section>
{% endif %}
