{% set isCentered = entry.introIsCentered %}
{% set title = entry.introTitle %}
{% set description = entry.introDescription %}
{% set buttonsMatrix = entry.introButtonsMatrix.all() %}
{% if title or description %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--intro">
		<div class="intro {% if isCentered %} is-centered {% endif %}">
			<div class="intro__text-hld u-wrapper">
				{% if title %}
					<h2 class="intro__title u-title u-title--section">{{ title|raw|nl2br }}</h2>
				{% endif %}
				{% if description %}
					<div class="intro__description">{{ description }}</div>
				{% endif %}
				{% if buttonsMatrix|length > 0 %}
					<div class="intro__buttons-hld">
						{% for item in buttonsMatrix %}
							{% set button = item.button %}

							{% set additionalLinkAttributes = item.additionalLinkAttributes ? item.additionalLinkAttributes : '' %}

							{% if button.getUrl() %}
								<a href="{{ button.getUrl() }}{{ additionalLinkAttributes }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="u-btn {% if loop.index0 == 0 %} u-btn--light is-narrow {% else %} u-btn--arrow {% endif %} btn">
									<span class="text">{{ button.customText ? button.customText : "Learn More" }}</span>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
