{% set subtitle = entry.logosSliderSubtitle %}
{% set title = entry.logosSliderTitle %}
{% set slides = entry.logosSliderItems.all() %}
{% set link = entry.logosSliderButtonLink %}
{% set showArrows = entry.logosSliderShowArrows %}
{% if showArrows %}
	{% set showArrows = showArrows.contains('true') %}
{% endif %}
{% if slides|length > 0 %}
    <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--logos-slider {{ showArrows ? '' : 'u-section--logos-slider-no-arrows' }}">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/logos-slider.css') }}?v=21092023">
        <div class="logos-slider">
            {% if subtitle %}
                <h3 class="logos-slider__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</h3>
            {% endif %}
            {% if title %}
                <h2 class="logos-slider__title u-title">{{ title }}</h2>
            {% endif %}
            {% if slides %}
                <div class="logos-slider__slider-wrapper">
                    <div class="swiper-logos__slider js-logos-slider swiper-container">
                        <div class="swiper-wrapper" data-slides-count="{{ slides|length }}">
                            {% for item in slides %}
                                {% set image = item.itemImage.one() %}
                                {% set title = item.itemTitle %}
                                {% set itemLink = item.itemLink %}
                                {% if itemLink and itemLink.url %}
                                    <a href="{{ itemLink.url }}" target="{{ itemLink.target ? '_blank' : '_self' }}" rel="{{ itemLink.target ? 'noopener noreferrer' : null }}" class="swiper-logos__slider-item swiper-slide {{ title ? 'is-title' : null }} is-link">
                                        {% if image %}
                                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl('logosSliderImage') }}" width="98" height="53" class="js-lazy" alt="logo">
                                        {% endif %}
                                        {% if title %}
                                            <div class="title">{{ title }}</div>
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <div class="swiper-logos__slider-item swiper-slide {{ title ? 'is-title' : null }}">
                                        {% if image %}
                                            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl('logosSliderImage') }}" width="98" height="53" class="js-lazy" alt="logo">
                                        {% endif %}
                                        {% if title %}
                                            <div class="title">{{ title }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if showArrows %}
                        <div class="swiper-button swiper-button-prev">
                            <span class="icon icon-arrow-left"></span>
                        </div>
                        <div class="swiper-button swiper-button-next">
                            <span class="icon icon-arrow-right"></span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if link and link.getUrl() %}
                <a href="{{ link.getUrl() }}" class="btn btn--learn-more u-btn u-btn--light">
                    <span class="text">
                    {% if link.customText %} {{ link.customText }} {% else %} Learn more {% endif %}
                    </span>
                </a>
            {% endif %}
        </div>
    </section>
{% endif %}
