{% set pages = craft.entries.section('menuDesktop').all() %}
<nav class="menu-desktop">
	<a href="{{ craft.app.sites.primarySite.baseUrl }}" class="menu-desktop__logo-hld">
		<img src="{{ alias('@web/src/img/svg/logo.svg') }}" width="100" height="40" alt="Wiliot logo">
	</a>
	<ul class="menu-desktop__list">
		{% nav page in pages %}
			{% set menuDesktopTitle = page.title %}
			{% set menuDesktopPageLink = page.menuDesktopPageLink %}
			{% set menuDesktopDescription = page.menuDesktopDescription %}
			{% set menuDesktopButtonsMatrix = page.menuDesktopButtonsMatrix.all() %}
			{% set menuDesktopSubnavTitle = page.menuDesktopSubnavTitle %}
			{% set menuDesktopSubnavItemsMatrix = page.menuDesktopSubnavItemsMatrix.all() %}
			<li class="menu-desktop__list-item {% if menuDesktopDescription %} has-dropdown js-header-has-dropdown {% endif %} {% if loop.index == 1 and menuDesktopDescription %} is-first-dropdown {% endif %} {% if loop.revindex == 4 and menuDesktopDescription %} is-last-dropdown {% endif %} {% if loop.revindex == 3 %} is-right {% endif %} {% if loop.revindex == 1 %} is-last {% endif %} {% if entry is defined %} {% if page.slug == entry.slug %} is-active {% endif %} {% endif %} {% if menuDesktopTitle == 'Login' %} is-login {% endif %} {% if menuDesktopTitle == 'Login is-hidden' %} is-hidden {% endif %}">
				{% if menuDesktopPageLink.url %}
					<a href="{{ menuDesktopPageLink.url }}" target="{{ menuDesktopPageLink.target ? '_blank' : '_self' }}" rel="{{ menuDesktopPageLink.target ? 'noopener noreferrer' : null }}" class="inner">
						{% if menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						<span class="text">{{ menuDesktopTitle }}</span>
						{% if menuDesktopDescription %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</a>
				{% else %}
					<div class="inner">
						{% if menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						<span class="text">{{ menuDesktopTitle }}</span>
						{% if menuDesktopDescription %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</div>
				{% endif %}
				{% if menuDesktopDescription %}
					<div class="menu-desktop__dropdown">
						<div class="menu-desktop__dropdown-box menu-desktop__dropdown-box--left">
							<div class="title">{{ menuDesktopTitle }}</div>
							<div class="description">{{ menuDesktopDescription }}</div>
							<div class="buttons-hld">
								{% for item in menuDesktopButtonsMatrix %}
									{% set button = item.button %}
									<a href="{{ button.url }}" class="btn u-btn u-btn--arrow">
										<span class="text">
											{% if button.customText %}
												{{ button.customText }}
											{% else %}
												{{ menuDesktopTitle }}
											{% endif %}
										</span>
									</a>
								{% endfor %}
							</div>
						</div>
						<div class="menu-desktop__dropdown-box menu-desktop__dropdown-box--right {% if menuDesktopTitle == "Platform" %} is-platform-box {% endif %}">
							{% if menuDesktopTitle != "Platform" %}
								<div class="title u-subtitle u-subtitle--section">{{ menuDesktopSubnavTitle }}</div>
							{% endif %}
							<div class="subnav-hld">
								{% for subnavItem in menuDesktopSubnavItemsMatrix %}
									{% set item = subnavItem.item %}
									{% if menuDesktopTitle == "Platform" and loop.index0 == 1 %}
										<div class="title u-subtitle u-subtitle--section">{{ menuDesktopSubnavTitle }}</div>
									{% endif %}
									<a href="{{ item.url }}" class="subnav-item u-btn u-btn--arrow {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}">
										<span class="text">
											{{ item.customText }}
										</span>
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				{% ifchildren %}
					<ul class="hidden-children">
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>
</nav>
