{% set pages = craft.entries.section('menuDesktop').all() %}
<nav class="menu-desktop">
	<a href="{{ craft.app.sites.primarySite.baseUrl }}" class="menu-desktop__logo-hld">
		<img src="{{ alias('@web/src/img/svg/logo.svg') }}" width="100" height="40" alt="Wiliot logo">
	</a>
	<ul class="menu-desktop__list">
		{% nav page in pages %}
			{% set menuDesktopTitle = page.title %}
			{% set menuDesktopPageLink = page.menuDesktopPageLink %}
			{% set menuDesktopSubnavItemsMatrix = page.menuDesktopSubnavItemsMatrix.all() %}
			{% set isSubnav = menuDesktopSubnavItemsMatrix|length > 0 %}
			{% set lastIsTypeform = pageOptions.pageOptionsLastInMenuIsTypeform %}
			{% set hasTabs = false %}
			{% for block in menuDesktopSubnavItemsMatrix %}
				{% if block.type == 'tab' %}
					{% set hasTabs = true %}
				{% endif %}
			{% endfor %}
			{% set hasList = false %}
			{% for block in menuDesktopSubnavItemsMatrix %}
				{% if block.type == 'list' %}
					{% set hasList = true %}
				{% endif %}
			{% endfor %}
			{% set hasBox = false %}
			{% for block in menuDesktopSubnavItemsMatrix %}
				{% if block.type == 'box' %}
					{% set hasBox = true %}
				{% endif %}
			{% endfor %}
			{% set hasTiles = false %}
			{% for block in menuDesktopSubnavItemsMatrix %}
				{% if block.type == 'tile' %}
					{% set hasTiles = true %}
				{% endif %}
			{% endfor %}
			<li class="menu-desktop__list-item {% if isSubnav %} has-dropdown js-header-has-dropdown {% endif %} {% if loop.index == 1 and isSubnav %} is-first-dropdown {% endif %} {% if loop.revindex == 5 and isSubnav %} is-last-dropdown {% endif %} {% if loop.revindex == 3 %} is-right {% endif %} {% if loop.revindex == 1 %} is-last {% endif %} {% if entry is defined %} {% if page.slug == entry.slug %} is-active {% endif %} {% if  page.slug == 'contact-us' and entry.slug == 'contact' %} is-active {% endif %} {% if page.slug == 'get-started' and entry.slug == 'starterkit' %} is-active {% endif %} {% endif %} {% if menuDesktopTitle == 'Resources' %} is-support {% endif %} {% if menuDesktopTitle|lower == 'login' %} is-login {% endif %} {% if menuDesktopTitle|lower == 'login is-hidden' %} is-login is-hidden {% endif %} {% if menuDesktopTitle|lower == 'search' %} is-search {% endif %}">
				{% if lastIsTypeform and loop.revindex == 1 %}
					{% set typeformID = pageOptions.pageOptionsTypeFormID %}
					<button class="inner" data-tf-popup="{{ typeformID }}" data-tf-size="{{ pageOptions.pageOptionsTypeFormSize }}" data-tf-medium="snippet">
						<span class="text">{{ menuDesktopTitle }}</span>
					</button>
				{% elseif menuDesktopPageLink.url %}
					<a {% if menuDesktopTitle|lower != 'search' %}href="{{ menuDesktopPageLink.url }}" target="{{ menuDesktopPageLink.target ? '_blank' : '_self' }}" rel="{{ menuDesktopPageLink.target ? 'noopener noreferrer' : null }}"{% endif %} class="inner">
						{% if menuDesktopTitle|lower == 'login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						{% if menuDesktopTitle|lower == 'search' %}
							{{ include('/sections/search-bar.twig') }}
						{% endif %}
						<span class="text {% if menuDesktopTitle|lower == 'login' or menuDesktopTitle|lower == 'search' %}u-sr-only{% endif %}">{{ menuDesktopTitle }}</span>
						{% if isSubnav or menuDesktopTitle|lower == 'login' %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</a>
					{% if menuDesktopTitle|lower == 'login' %}
						<div class="logout-dropdown js-logout">Logout</div>
					{% endif %}
				{% else %}
					<div class="inner">
						{% if menuDesktopTitle|lower == 'login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						<span class="text">{{ menuDesktopTitle }}</span>
						{% if isSubnav %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</div>
				{% endif %}
				{% if isSubnav %}
					{% set menuDesktopSubnavTitle = page.menuDesktopSubnavTitle %}
					{% set menuDesktopSecondSubnavTitle = page.menuDesktopSecondSubnavTitle %}
					{% set menuDesktopSecondSubnavElementsNumber = page.menuDesktopSecondSubnavElementsNumber %}
					<div class="menu-desktop__dropdown {% if hasTabs %} menu-desktop__dropdown--tabs {% endif %} {% if hasList %} menu-desktop__dropdown--list {% endif %} {% if hasBox %} menu-desktop__dropdown--box {% endif %} {% if hasTiles %} menu-desktop__dropdown--tiles {% endif %}">
						{% if hasTabs %}
							<div class="menu-desktop__tabs">
								{% for block in menuDesktopSubnavItemsMatrix %}
									{% if block.type == 'tab' %}
										<div class="menu-desktop__tab js-menu-desktop-tab" data-tab="{{ loop.index }}">
											{{ block.tabName }}
										</div>
									{% endif %}
								{% endfor %}
							</div>
							<div class="menu-desktop__tab-content-hld">
								{% for block in menuDesktopSubnavItemsMatrix %}
									{% if block.type == 'tab' %}
										<div class="menu-desktop__tab-content js-menu-desktop-tab-content" data-tab-content="{{ loop.index }}">
											<div class="menu-desktop__tab-left-column">
												{% for leftItem in block.leftColumnMatrix.all() %}
													<div class="menu-desktop__tab-item">
														{% if leftItem.icon.one() %}
															<img src="{{ leftItem.icon.one().getUrl() }}" alt="{{ leftItem.heading }}" class="menu-desktop__tab-item-icon">
														{% endif %}
														<h3 class="menu-desktop__tab-item-heading">{{ leftItem.heading }}</h3>
														<p class="menu-desktop__tab-item-description">{{ leftItem.description }}</p>
														{% if leftItem.singleLink.url %}
															<a href="{{ leftItem.singleLink.url }}" class="u-btn u-btn--arrow menu-desktop__tab-item-link" {{ leftItem.singleLink.target ? 'target="_blank"' : '' }}>
																<span class="text">{{ leftItem.singleLink.text }}</span>
															</a>
														{% endif %}
														{% if leftItem.linksMatrix|length %}
															<ul class="menu-desktop__tab-item-links">
																{% for link in leftItem.linksMatrix.all() %}
																	<li>
																		<a href="{{ link.itemLink.url }}" {{ link.itemLink.target ? 'target="_blank"' : '' }}>
																			{% if link.icon.one() %}
																				<img src="{{ link.icon.one().getUrl() }}" alt="{{ link.itemLink.text }}" class="menu-desktop__tab-item-link-icon">
																			{% endif %}
																			{{ link.itemLink.text }}
																		</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</div>
												{% endfor %}
											</div>
											<div class="menu-desktop__tab-right-column">
												{% for rightItem in block.rightColumnMatrix.all() %}
													{% if rightItem.featuredLink.one() %}
														<div class="menu-desktop__tab-featured-link">
															{% set featuredEntry = rightItem.featuredLink.one() %}
															<a href="{{ featuredEntry.url }}">
																{% if featuredEntry.type.handle == 'singleNews' %}
																	{% if featuredEntry.newsPostsfeaturedImage.one() %}
																		<img src="{{ featuredEntry.newsPostsfeaturedImage.one().getUrl('postImage') }}" alt="{{ featuredEntry.title }}" class="menu-desktop__tab-featured-link-image">
																	{% endif %}
																	{% set mainCategory = featuredEntry.postMainCategory.one() %}
																	{% if mainCategory %}
																		<span class="menu-desktop__tab-featured-link-tag">{{ mainCategory.title }}</span>
																	{% endif %}
																{% endif %}
																<h3>{{ featuredEntry.title }}</h3>
															</a>
														</div>
													{% endif %}
													{% if rightItem.linksMatrix|length %}
														<ul class="menu-desktop__tab-links">
															{% for link in rightItem.linksMatrix.all() %}
																<li>
																	<a href="{{ link.itemLink.url }}" {{ link.itemLink.target ? 'target="_blank"' : '' }}>
																		{{ link.itemLink.text }}
																	</a>
																</li>
															{% endfor %}
														</ul>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% elseif hasList %}
							{% for block in menuDesktopSubnavItemsMatrix %}
								{% if block.type == 'list' %}
									<div class="menu-desktop__list-hld">
										<div class="main-item">
											{% if block.listIcon.one() %}
												<img src="{{ block.listIcon.one().getUrl() }}" alt="{{ block.listTitle }}" class="main-item-icon">
											{% endif %}
											<div class="main-item-title">{{ block.listTitle }}</div>
											<div class="main-item-description">{{ block.listDescription }}</div>
										</div>
										{% if block.listLinksMatrix|length %}
											<ul class="sub-items-hld">
												{% for link in block.listLinksMatrix.all() %}
													<li class="sub-item">
														<a href="{{ link.itemLink.url }}" {{ link.itemLink.target ? 'target="_blank"' : '' }}>
															{{ link.itemLink.text }}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
										<div class="bottom-item-hld">
											{% if block.listBottomLink.url %}
												<a href="{{ block.listBottomLink.url }}" class="u-btn u-btn--arrow bottom-item" {{ block.listBottomLink.target ? 'target="_blank"' : '' }}>
													<span class="text">{{ block.listBottomLink.text }}</span>
												</a>
											{% endif %}
										</div>
									</div>
									<div class="menu-desktop__list-left-column">
										{% if block.leftColumnMatrix|length %}
											{% set leftColumn = block.leftColumnMatrix.one() %}
											<div class="list-main-item-hld">
												{% if leftColumn.icon.one() %}
													<img src="{{ leftColumn.icon.one().getUrl() }}" alt="{{ leftColumn.heading }}" class="list-main-item-icon">
												{% endif %}
												<div class="list-main-item-heading">{{ leftColumn.heading }}</div>
												<div class="list-main-item-description">{{ leftColumn.description }}</div>
												{% if leftColumn.singleLink.url %}
													<a href="{{ leftColumn.singleLink.url }}" class="list-main-item-link" {{ leftColumn.singleLink.target ? 'target="_blank"' : '' }}>
														{{ leftColumn.singleLink.text }}
													</a>
												{% endif %}
												{% if leftColumn.linksMatrix|length %}
													<ul class="list-main-item-links">
														{% for link in leftColumn.linksMatrix.all() %}
															<li>
																<a href="{{ link.itemLink.url }}" {{ link.itemLink.target ? 'target="_blank"' : '' }}>
																	{% if link.icon.one() %}
																		<img src="{{ link.icon.one().getUrl() }}" alt="{{ link.itemLink.text }}" class="list-main-item-link-icon">
																	{% endif %}
																	<span class="text">{{ link.itemLink.text }}</span>
																</a>
															</li>
														{% endfor %}
													</ul>
												{% endif %}
											</div>
										{% endif %}
									</div>
									<div class="menu-desktop__list-right-column">
										{% if block.rightColumnMatrix|length %}
											{% set rightColumn = block.rightColumnMatrix.one() %}
											{% if rightColumn.featuredLink.one() %}
												{% set featuredEntry = rightColumn.featuredLink.one() %}
												<div class="list-featured-link">
													<a href="{{ featuredEntry.url }}">
														{% if featuredEntry.type.handle == 'singleNews' and featuredEntry.newsPostsfeaturedImage.one() %}
															<img src="{{ featuredEntry.newsPostsfeaturedImage.one().getUrl('postImage') }}" alt="{{ featuredEntry.title }}" class="list-featured-link-image">
														{% endif %}
														{% set mainCategory = featuredEntry.postMainCategory.one() %}
														{% if mainCategory %}
															<span class="list-featured-link-tag">{{ mainCategory.title }}</span>
														{% endif %}
														<h3>{{ featuredEntry.title }}</h3>
													</a>
												</div>
											{% endif %}
											{% if rightColumn.linksMatrix|length %}
												<ul class="list-links">
													{% for link in rightColumn.linksMatrix.all() %}
														<li>
															<a href="{{ link.itemLink.url }}" {{ link.itemLink.target ? 'target="_blank"' : '' }}>
																{{ link.itemLink.text }}
															</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% elseif hasBox %}
							{% for block in menuDesktopSubnavItemsMatrix %}
								{% if block.type == 'box' %}
									<div class="menu-desktop__box">
										<a href="{{ block.boxLink.url }}" class="box-left" {{ block.boxLink.target ? 'target="_blank"' : '' }}>
											{% if block.boxImage.one() %}
												<img src="{{ block.boxImage.one().getUrl() }}" alt="{{ block.boxTitle }}" class="box-image">
											{% endif %}
											<div class="box-content">
												<h3 class="box-title">{{ block.boxTitle }}</h3>
												<div class="box-description">{{ block.boxDescription }}</div>
												{% if block.boxLink.url %}
													<div class="u-btn u-btn--accent box-link">
														<span class="text">{{ block.boxLink.text }}</span>
													</div>
												{% endif %}
											</div>
										</a>
										{% if block.rightColumnLinksMatrix|length %}
											<div class="box-right-column">
												{% for item in block.rightColumnLinksMatrix.all() %}
													<div class="box-right-item">
														<a href="{{ item.itemlink.url }}" {{ item.itemlink.target ? 'target="_blank"' : '' }} class="box-right-item-inner">
															{% if item.itemIcon.one() %}
																<img src="{{ item.itemIcon.one().getUrl() }}" alt="{{ item.itemTitle }}" class="box-right-item-icon">
															{% endif %}
															<h4 class="box-right-item-title">{{ item.itemTitle }}</h4>
															<p class="box-right-item-description">{{ item.itemDescription }}</p>
														</a>
														{% if item.itemLinksMatrix|length %}
															<ul class="box-right-item-links">
																{% for link in item.itemLinksMatrix.all() %}
																	<li>
																		<a href="{{ link.itemlink.url }}" {{ link.itemlink.target ? 'target="_blank"' : '' }}>
																			{{ link.itemlink.text }}
																		</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% elseif hasTiles %}
							<div class="menu-desktop__tiles-hld">
								{% for block in menuDesktopSubnavItemsMatrix %}
									{% if block.type == 'tile' %}
										{% for tile in block.tilesMatrix.all() %}
											<a href="{{ tile.tilelink.url }}" class="menu-desktop__tile" {{ tile.tilelink.target ? 'target="_blank"' : '' }}>
												<div class="top">
													{% if tile.tileIcon.one() %}
														<img src="{{ tile.tileIcon.one().getUrl() }}" alt="{{ tile.tileTitle }}" class="tile-icon">
													{% endif %}
													<div class="tile-title">{{ tile.tileTitle }}</div>
												</div>
												<div class="tile-description">{{ tile.tileDescription }}</div>
											</a>
										{% endfor %}
									{% endif %}
								{% endfor %}
							</div>
						{% else %}
							<div class="subnav-hld subnav-hld--first {% if menuDesktopSubnavTitle %} has-subnav-title {% endif %}">
								{% if menuDesktopSubnavTitle %}
									<div class="subnav-title subnav-title--first">{{ menuDesktopSubnavTitle }}</div>
								{% endif %}
								{% for subnavItem in menuDesktopSubnavItemsMatrix %}
									{% if loop.revindex > menuDesktopSecondSubnavElementsNumber %}
										{% set item = subnavItem.item %}
										{% set icon = subnavItem.icon.one() %}
										{% set subitemMatrix = subnavItem.subitemMatrix %}
										{% if icon %}
											{% set icon = subnavItem.icon.one().getUrl() %}
										{% endif %}
										{% if subitemMatrix|length > 0 %}
											<div class="subnav-item is-subitem {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}">
												<a href="{{ item.url }}" class="text" target="{{ item.target ? '_blank' : '_self' }}" rel="{{ item.target ? 'noopener noreferrer' : null }}">
													<img src="{{ alias('@web/src/img/svg/circles.svg' )}}" data-src="{{ icon }}" alt="{{ item.customText }}" class="icon js-lazy">
													{{ item.customText }}
												</a>
												{% for subitem in subitemMatrix %}
													{% set subitemLink = subitem.subitemLink %}
													<a href="{{ subitemLink.url }}" class="subitem-link {% if entry is defined %} {% if subitemLink.url == entry.url %} is-active {% endif %} {% endif %}" target="{{ subitemLink.target ? '_blank' : '_self' }}" rel="{{ subitemLink.target ? 'noopener noreferrer' : null }}">
														<div class="subtext">
															{{ subitemLink.customText }}
														</div>
													</a>
												{% endfor %}
											</div>
										{% else %}
											<a href="{{ item.url }}" class="subnav-item {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}" target="{{ item.target ? '_blank' : '_self' }}" rel="{{ item.target ? 'noopener noreferrer' : null }}">
												<div class="text">
													<img src="{{ alias('@web/src/img/svg/circles.svg' )}}" data-src="{{ icon }}" alt="{{ item.customText }}" class="icon js-lazy">
													{{ item.customText }}
												</div>
											</a>
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
							{% if menuDesktopSecondSubnavElementsNumber > 0 %}
								<div class="subnav-hld subnav-hld--second {% if menuDesktopSecondSubnavTitle %} has-subnav-title {% endif %}">
									{% if menuDesktopSecondSubnavTitle %}
										<div class="subnav-title subnav-title--second">{{ menuDesktopSecondSubnavTitle }}</div>
									{% endif %}
									{% for subnavItem in menuDesktopSubnavItemsMatrix %}
										{% if loop.revindex <= menuDesktopSecondSubnavElementsNumber %}
											{% set item = subnavItem.item %}
											{% set icon = subnavItem.icon.one() %}
											{% if icon %}
												{% set icon = subnavItem.icon.one().getUrl() %}
											{% endif %}
											<a href="{{ item.url }}" class="subnav-item {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}" target="{{ item.target ? '_blank' : '_self' }}" rel="{{ item.target ? 'noopener noreferrer' : null }}">
												<div class="text">
													<img src="{{ alias('@web/src/img/svg/circles.svg' )}}" data-src="{{ icon }}" alt="{{ item.customText }}" class="icon js-lazy">
													{{ item.customText }}
												</div>
											</a>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				{% endif %}
				{% ifchildren %}
					<ul class="hidden-children">
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>
</nav>
