{% set pages = craft.entries.section('menuDesktop').all() %}
<nav class="menu-desktop">
    {# <form action="{{ url('search/results') }}">
        <input type="search" name="q" aria-label="Search" placeholder="Search">
        <button type="submit">Go</button>
    </form> #}
	<a href="{{ craft.app.sites.primarySite.baseUrl }}" class="menu-desktop__logo-hld">
		<img src="{{ alias('@web/src/img/svg/logo.svg') }}" width="100" height="40" alt="Wiliot logo">
	</a>
	<ul class="menu-desktop__list">
		{% nav page in pages %}
			{% set menuDesktopTitle = page.title %}
			{% set menuDesktopPageLink = page.menuDesktopPageLink %}
			{% set menuDesktopSubnavItemsMatrix = page.menuDesktopSubnavItemsMatrix.all() %}
			{% set isSubnav = menuDesktopSubnavItemsMatrix|length > 0 %}
			<li class="menu-desktop__list-item {% if isSubnav %} has-dropdown js-header-has-dropdown {% endif %} {% if loop.index == 1 and isSubnav %} is-first-dropdown {% endif %} {% if loop.revindex == 4 and isSubnav %} is-last-dropdown {% endif %} {% if loop.revindex == 4 %} is-right {% endif %} {% if loop.revindex == 2 or loop.revindex == 1 %} is-last {% endif %} {% if entry is defined %} {% if page.slug == entry.slug %} is-active {% endif %} {% if  page.slug == 'contact-us' and entry.slug == 'contact' %} is-active {% endif %} {% if page.slug == 'get-started' and entry.slug == 'starterkit' %} is-active {% endif %} {% endif %} {% if menuDesktopTitle == 'Resources' %} is-support {% endif %} {% if menuDesktopTitle == 'Login' %} is-login {% endif %} {% if menuDesktopTitle == 'Login is-hidden' %} is-login is-hidden {% endif %}">
				{% if menuDesktopPageLink.url %}
					<a href="{{ menuDesktopPageLink.url }}" target="{{ menuDesktopPageLink.target ? '_blank' : '_self' }}" rel="{{ menuDesktopPageLink.target ? 'noopener noreferrer' : null }}" class="inner">
						{% if menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						<span class="text">{{ menuDesktopTitle }}</span>
						{% if isSubnav or menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</a>
					{% if menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
						<a href="/" class="logout-dropdown js-logout">Logout</a>
					{% endif %}
				{% else %}
					<div class="inner">
						{% if menuDesktopTitle == 'login' or menuDesktopTitle == 'Login' %}
							<span class="icon icon-user"></span>
						{% endif %}
						<span class="text">{{ menuDesktopTitle }}</span>
						{% if isSubnav %}
							<span class="icon icon-dropdown-down"></span>
						{% endif %}
					</div>
				{% endif %}
				{% if isSubnav %}
                    {% set menuDesktopSubnavTitle = page.menuDesktopSubnavTitle %}
                    {% set menuDesktopSecondSubnavTitle = page.menuDesktopSecondSubnavTitle %}
                    {% set menuDesktopSecondSubnavElementsNumber = page.menuDesktopSecondSubnavElementsNumber %}
					<div class="menu-desktop__dropdown {% if menuDesktopSecondSubnavElementsNumber > 0 %} menu-desktop__dropdown--big {% endif %}">
						<div class="subnav-hld subnav-hld--first {% if menuDesktopSubnavTitle %} has-subnav-title {% endif %}">
                            {% if menuDesktopSubnavTitle %}
                                <div class="subnav-title subnav-title--first">{{ menuDesktopSubnavTitle }}</div>
                            {% endif %}
							{% for subnavItem in menuDesktopSubnavItemsMatrix %}
                                {% if loop.revindex > menuDesktopSecondSubnavElementsNumber %}
                                    {% set item = subnavItem.item %}
                                    {% set icon = subnavItem.icon.one() %}
                                    {% if icon %}
                                        {% set icon = subnavItem.icon.one().getUrl() %}
                                    {% endif %}
                                    <a href="{{ item.url }}" class="subnav-item {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}" target="{{ item.target ? '_blank' : '_self' }}" rel="{{ item.target ? 'noopener noreferrer' : null }}">
                                        <div class="text">
                                            <img src="{{ alias('@web/src/img/svg/circles.svg' )}}" data-src="{{ icon }}" alt="{{ item.customText }}" class="icon js-lazy">
                                            {{ item.customText }}
                                        </div>
                                    </a>
                                {% endif %}
							{% endfor %}
						</div>
                        {% if menuDesktopSecondSubnavElementsNumber > 0 %}
                            <div class="subnav-hld subnav-hld--second {% if menuDesktopSecondSubnavTitle %} has-subnav-title {% endif %}">
                                {% if menuDesktopSecondSubnavTitle %}
                                    <div class="subnav-title subnav-title--second">{{ menuDesktopSecondSubnavTitle }}</div>
                                {% endif %}
                                {% for subnavItem in menuDesktopSubnavItemsMatrix %}
                                    {% if loop.revindex <= menuDesktopSecondSubnavElementsNumber %}
                                        {% set item = subnavItem.item %}
                                        {% set icon = subnavItem.icon.one() %}
                                        {% if icon %}
                                            {% set icon = subnavItem.icon.one().getUrl() %}
                                        {% endif %}
                                        <a href="{{ item.url }}" class="subnav-item {% if entry is defined %} {% if item.url == entry.url %} is-active {% endif %} {% endif %}" target="{{ item.target ? '_blank' : '_self' }}" rel="{{ item.target ? 'noopener noreferrer' : null }}">
                                            <div class="text">
                                                <img src="{{ alias('@web/src/img/svg/circles.svg' )}}" data-src="{{ icon }}" alt="{{ item.customText }}" class="icon js-lazy">
                                                {{ item.customText }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
					</div>
				{% endif %}
				{% ifchildren %}
					<ul class="hidden-children">
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>
</nav>
