{% set PartnersDetailsPosts = craft.entries.section('partnersDetails').all() %}
{% if PartnersDetailsPosts %}
	<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/partners-listing.css') }}?v=21092023">
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--partners-listing">
		<div class="u-wrapper u-wrapper--wide">
			<div class="partners-listing js-partners-filters-hld">
				<div class="partners-listing__box partners-listing__box--a">
					<div class="inner">
                        <div class="top">
                            <div class="title">Filter by</div>
                        </div>
                        <div class="middle">
                            <div class="filters-type-hld">
                                <div class="partners-listing__filter js-partners-filters-filter-everything is-active">
                                    <div class="checkbox">
                                        <span class="icon icon-tick"></span>
                                    </div>
                                    <span class="text">All</span>
                                </div>
                            </div>
                            <div class="filters-type-hld">
                                <div class="partners-listing__filter-box partners-listing__filter-box--search">
                                    <input class="partners-listing__search-input js-partners-filters-search-input" placeholder="Search by partner name" type="text" value="" />
                                </div>
                            </div>
                            {% set catHasMinimumOneItem = false %}
                            {% for item in PartnersDetailsPosts %}
                                {% set partnerCategory = item.partnerCategory.all() %}
                                {% if partnerCategory %}
                                    {% set catHasMinimumOneItem = true %}
                                {% endif %}
                            {% endfor %}
                            {% if catHasMinimumOneItem %}
                                <div class="filters-type-hld">
                                    <div class="filter-type">Partner Type</div>
                                    <div class="partners-listing__filter-box js-partners-filters-category" data-filters-category="type">
                                        {% set categories = craft.categories().group('partnersCategories') %}
                                        {% for cat in categories.all() %}
                                            <div class="partners-listing__filter js-partners-filters-filter" data-category="{{ cat.slug|lower }}">
                                                <div class="checkbox">
                                                    <span class="icon icon-tick"></span>
                                                </div>
                                                <span class="text">{{ cat.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% set cat2hasMinimumOneItem = false %}
                            {% for item in PartnersDetailsPosts %}
                                {% set partnerServiceOffering = item.partnerServiceOffering.all() %}
                                {% if partnerServiceOffering %}
                                    {% set cat2hasMinimumOneItem = true %}
                                {% endif %}
                            {% endfor %}
                            {% if cat2hasMinimumOneItem %}
                                <div class="filters-type-hld">
                                    <div class="filter-type">Service Offering</div>
                                    <div class="partners-listing__filter-box js-partners-filters-category" data-filters-category="service">
                                    {% set categories = craft.categories().group('partnersServiceOffering') %}
                                        {% for cat in categories.all() %}
                                            <div class="partners-listing__filter js-partners-filters-filter" data-category="{{ cat.slug|lower }}">
                                                <div class="checkbox">
                                                    <span class="icon icon-tick"></span>
                                                </div>
                                                <span class="text">{{ cat.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% set cat3hasMinimumOneItem = false %}
                            {% for item in PartnersDetailsPosts %}
                                {% set partnerOperatingRegions = item.partnerOperatingRegions.all() %}
                                {% if partnerOperatingRegions %}
                                    {% set cat3hasMinimumOneItem = true %}
                                {% endif %}
                            {% endfor %}
                            {% if cat3hasMinimumOneItem %}
                                <div class="filters-type-hld">
                                    <div class="filter-type">Operating Regions</div>
                                    <div class="partners-listing__filter-box js-partners-filters-category" data-filters-category="region">
                                        {% set categories = craft.categories().group('partnersOperatingRegions') %}
                                        {% for cat in categories.all() %}
                                            <div class="partners-listing__filter js-partners-filters-filter" data-category="{{ cat.slug|lower }}">
                                                <div class="checkbox">
                                                    <span class="icon icon-tick"></span>
                                                </div>
                                                <span class="text">{{ cat.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% set cat4hasMinimumOneItem = false %}
                            {% for item in PartnersDetailsPosts %}
                                {% set partnerIndustryExpertise = item.partnerIndustryExpertise.all() %}
                                {% if partnerIndustryExpertise %}
                                    {% set cat4hasMinimumOneItem = true %}
                                {% endif %}
                            {% endfor %}
                            {% if cat4hasMinimumOneItem %}
                                <div class="filters-type-hld">
                                    <div class="filter-type">Industry Expertise</div>
                                    <div class="partners-listing__filter-box js-partners-filters-category" data-filters-category="expertise">
                                        {% set categories = craft.categories().group('partnersIndustryExpertise') %}
                                        {% for cat in categories.all() %}
                                            <div class="partners-listing__filter js-partners-filters-filter" data-category="{{ cat.slug|lower }}">
                                                <div class="checkbox">
                                                    <span class="icon icon-tick"></span>
                                                </div>
                                                <span class="text">{{ cat.title }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {#
                        <div class="bottom">
                            <button class="btn btn--apply u-btn u-btn--light js-partners-filters-apply-btn">
                                <span class="text">Apply</span>
                            </button>
                            <button class="btn btn--reset u-btn u-btn--transparent js-partners-filters-reset-btn">
                                <span class="text">Reset filters</span>
                            </button>
                        </div>
                        #}
					</div>
				</div>
				<div class="partners-listing__box partners-listing__box--b">
					<div class="partners-listing__active-filters">
						<div class="title">Results:
							<span class="js-partners-filters-results-number"></span>
						</div>
						<div class="results">
							<div class="results__filter results__filter--everything is-chosen js-partners-filters-active-everything">
								<span class="text">All</span>
							</div>
                            {% set categories = craft.categories().group('partnersCategories') %}
                            {% for cat in categories.all() %}
                                <div class="results__filter js-partners-filters-active" data-category="{{ cat.slug|lower }}">
                                    <span class="text">{{ cat.title }}</span>
                                    <span class="icon icon-close"></span>
                                </div>
                            {% endfor %}
                            {% set categories = craft.categories().group('partnersServiceOffering') %}
                            {% for cat in categories.all() %}
                                <div class="results__filter js-partners-filters-active" data-category="{{ cat.slug|lower }}">
                                    <span class="text">{{ cat.title }}</span>
                                    <span class="icon icon-close"></span>
                                </div>
                            {% endfor %}
                            {% set categories = craft.categories().group('partnersOperatingRegions') %}
                            {% for cat in categories.all() %}
                                <div class="results__filter js-partners-filters-active" data-category="{{ cat.slug|lower }}">
                                    <span class="text">{{ cat.title }}</span>
                                    <span class="icon icon-close"></span>
                                </div>
                            {% endfor %}
                            {% set categories = craft.categories().group('partnersIndustryExpertise') %}
                            {% for cat in categories.all() %}
                                <div class="results__filter js-partners-filters-active" data-category="{{ cat.slug|lower }}">
                                    <span class="text">{{ cat.title }}</span>
                                    <span class="icon icon-close"></span>
                                </div>
                            {% endfor %}
						</div>
					</div>
					<div class="partners-listing__items-hld js-partners-items-hld">
						{% for item in PartnersDetailsPosts %}
							{# Item logo #}
							{% set logo = item.partnerLogo.one() %}
							{% if logo %}
								{% set logoUrl = logo.getUrl('partnersListingLogo') %}
								{% set logoWidth = logo.getWidth() %}
								{% set logoHeight = logo.getHeight() %}
								{% set logoAlt = logo.title %}
							{% endif %}
							{# Item texts #}
							{% set name = item.title %}
							{% set description = item.partnerDescription %}
							{% set descSliced = description|slice(0, 177) ~ '...' %}
							{% set excerpt = item.partnerExcerpt %}
							{% set excerptSliced = excerpt|slice(0, 177) ~ '...' %}
							{# Item link #}
							{% set detailsLink = item.uri %}
							{# Item category #}
							{% set categories = item.partnerCategory.all() %}
							{% set categories2 = item.partnerServiceOffering.all() %}
							{% set categories3 = item.partnerOperatingRegions.all() %}
							{% set categories4 = item.partnerIndustryExpertise.all() %}
							<div class="partners-listing__item js-partners-filters-item" {% for cat in categories %} data-{{ cat.slug|lower }}="1" {% endfor %} {% for cat in categories2 %} data-{{ cat.slug|lower }}="1" {% endfor %} {% for cat in categories3 %} data-{{ cat.slug|lower }}="1" {% endfor %} {% for cat in categories4 %} data-{{ cat.slug|lower }}="1" {% endfor %}>
								{% if logo %}
									<div class="img-hld {{ name == 'Avery Dennison - atma.io' ? 'is-avery' : null }}">
										<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ logoUrl }}" alt="{{ logoAlt }}" width="{{ logoWidth }}" height="{{ logoHeight }}"/>
									</div>
								{% endif %}
								<div class="name">{{ name }}</div>
								<div class="description">{{ excerpt ? (excerpt|length > 180 ? excerptSliced|raw : excerpt|raw) : (description|length > 180 ? descSliced|raw : description|raw) }}</div>
								{% if detailsLink %}
									<a href="{{ detailsLink }}" class="btn u-btn u-btn--arrow">
										<span class="text">Learn more</span>
									</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<fscript src="{{ alias('@web/src/js/partnersFilters.min.js') }}"></fscript>
{% endif %}
