{% set podcasts = craft.entries.section('podcastDetails').orderBy('postDate desc') %}
{% set title = entry.podcastsListingTitle %}
{% set logo = entry.podcastsListingLogo.one() %}
{% set subtitle = entry.podcastsListingSubtitle %}
{% if podcasts %}
	<section class="u-section u-section--podcasts-listing">
		<div class="u-wrapper">
			<div class="podcasts-listing js-load-more-hld">
				{% if logo is not null %}
					<img src="{{ logo.getUrl() }}" alt="Mr. Beacon Podcast" class="podcasts-listing__logo">
				{% endif %}
				<div class="podcasts-listing__header">
					{% if subtitle %}
						<span class="u-subtitle u-subtitle--section">{{ subtitle }}</span>
					{% endif %}
					{% if title %}
						<h2 class="u-title u-title--section">{{ title }}</h2>
					{% endif %}
				</div>
				<div class="podcasts-listing__items">
					{% if podcasts|length %}
						{% for post in podcasts.all() %}
							{% set image = post.podcastDetailsImage.one() %}
							{% set excerpt = post.podcastDetailsExcerpt %}
							{% set number = post.podcastDetailsNumber %}
							{% if image %}
								{% set imageUrl = image.getUrl() %}
								{% set imageWidth = image.getWidth() %}
								{% set imageHeight = image.getHeight() %}
								{% set imageAlt = image.title %}
							{% endif %}
							{% set title = post.title %}
							<a href="{{ post.url}}" class="post js-load-more-item" data-max-items="3" data-load-items="3">
								<div class="post__image-hld">
									{% if image %}
										<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
									{% else %}
										<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
									{% endif %}
								</div>
								<div class="post__date">
									<span>Episode #{{number}}</span>
									{{ post.postDate | date("F d, Y") }}</div>
								<div class="post__title">{{ title }}</div>
								{% if excerpt %}
									<div class="post__excerpt">{{ excerpt }}</div>
								{% endif %}
								<div class="post__btn u-btn u-btn--arrow">
									<span class="text">Watch</span>
								</div>
							</a>
						{% endfor %}
					{% endif %}
				</div>
				{% if podcasts|length > 3 %}
				<button class="podcasts-listing__btn u-btn u-btn--light js-load-more-btn">
					<span class="text">
						More Podcasts
					</span>
				</button>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
