<section class="u-section--press-release u-section">
	<div class="u-wrapper">
		<div class="press-release js-load-more-hld">
			<h2 class="u-title u-title--section press-release__title">Wiliot Press Releases</h2>
			{% set cat = craft.categories.slug('press-release').one() %}
			{% set latestEntries = craft.entries.relatedTo(cat) %}
			<div class="press-release__listing">
				{% if latestEntries|length %}
					{% for post in latestEntries.all() %}
						{% set image = post.newsPostsfeaturedImage.one() %}
						{% if image %}
							{% set imageUrl = image.getUrl() %}
							{% set imageWidth = image.getWidth() %}
							{% set imageHeight = image.getHeight() %}
							{% set imageAlt = image.title %}
						{% endif %}
						{% set title = post.title %}
						<a href="{{ post.url}}" class="post js-load-more-item" data-max-items="3" data-load-items="3">
							<div class="post__image-hld">
								<div class="tip">Press release</div>
								{% if image %}
									<img class="js-lazy" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
								{% else %}
									<img class="js-lazy" data-src="{{ alias('@web/src/img/placeholder.jpg') }}" width="300" height="225" alt="Wiliot placeholder image">
								{% endif %}
							</div>
							<div class="post__date">{{ post.postDate | date("F d, Y") }}</div>
							<div class="post__title">{{ title }}</div>
							<div class="post__btn u-btn u-btn--arrow">
								<span class="text">Read more</span>
							</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
			<button class="press-release__btn u-btn u-btn--light js-load-more-btn">
				<span class="text">
					Load More
				</span>
			</button>
		</div>
	</div>
</section>
