{% set title = entry.pressKitTitle %}
{% set images = entry.pressKitImages.all() %}
{% set videos = entry.pressKitVideos.all() %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--press-kit">
	<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/press-kit.css') }}?v=21092023">
	<div class="u-wrapper">
		<div class="press-kit">
			{% if title %}
				<h2 class="press-kit__title u-title u-title--section">{{ title }}</h2>
			{% endif %}
			{% if images %}
				<ul class="press-kit__assets-hld">
					{% for image in images %}
						{% set imageTitle = image.imageTitle %}
						{% set assetsAll = image.imageAsset %}
						{% set firstAsset = image.imageAsset.one() %}
						{% if firstAsset and imageTitle %}
							<li class="press-kit__asset">
								<h3 class="title">{{ imageTitle }}</h3>
								<div class="image-hld">
									<img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ firstAsset.getUrl('pressKitThumb') }}" class="js-lazy" alt="{{ imageTitle }}">
								</div>
								<div class="buttons-hld">
									{% for asset in assetsAll %}
										<a download href="{{ asset.getUrl() }}" class="btn">
											<svg class="svg-download"><use xlink:href="#svg-download"></use></svg>
											<span class="text">{{ asset.getExtension()|upper }}</span>
										</a>
									{% endfor %}
								</div>
							</li>
						{% elseif imageTitle %}
							<li class="press-kit__subtitle press-kit__subtitle--{{ imageTitle|replace({' ': '-', '_': '-'})|lower }}">
							{% if imageTitle == "Industries Guidelines" %}
								{% set svgIcon = alias('@web/src/img/svg/press-guideliness.svg') %}
							{% elseif imageTitle == "Case Studies" %}
								{% set svgIcon = alias('@web/src/img/svg/press-case-study.svg') %}
							{% elseif imageTitle == "Assets" %}
								{% set svgIcon = alias('@web/src/img/svg/press-asset.svg') %}
							{% else %}
								{% set svgIcon = alias('@web/src/img/svg/press-logo-wiliot.svg') %}
							{% endif %}
								<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ svgIcon }}" width="24" height="24" alt="Wiliot logo">
								<h2 class="subtitle">{{ imageTitle }}</h2>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if videos %}
				<div class="press-kit__subtitle press-kit__subtitle--video">
					{% set svgIcon = alias('@web/src/img/svg/press-video.svg') %}
					<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ svgIcon }}" width="24" height="24" alt="Wiliot logo">
					<h2 class="subtitle">Video</h2>
				</div>
				<div class="press-kit__videos-hld">
					{% for video in videos %}
						{% set videoTitle = video.videoTitle %}
						{% set videoAsset = video.videoAsset.one() %}
						{% if videoAsset and videoTitle %}
							<div class="video">
								<div class="asset js-video-hld is-paused">
									<span class="icon icon-button_play"></span>
									<video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ videoAsset.getUrl() }}" preload="metadata"></video>
								</div>
								<div class="content">
									<h3 class="title">{{ videoTitle }}</h3>
									<a download href="{{ videoAsset.url() }}" class="btn">
										<svg class="svg-download"><use xlink:href="#svg-download"></use></svg>
										<span class="text">Download</span>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</section>
