{% set subtitle = entry.heroSubtitle ? entry.heroSubtitle : entry.title %}
{% set title = entry.productHeroTitle %}
{% set image = entry.productHeroImage.one() %}
{% set bottomTitle = entry.productHeroBottomTitle %}
{% set bottomDescription = entry.productHeroBottomDescription %}
{% set bottomImage = entry.productHeroBottomImage.one() %}
{% if entry is defined %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--product-hero js-bg-shape-hld">
		<div class="u-wrapper--medium-wide u-wrapper">
			<div class="product-hero">
				<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
					<img class="s1 js-s1" src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
					<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
					<img class="s3 js-s3 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
				</div>
				<div class="product-hero__content">
					{% if subtitle %}
						<span class="product-hero__subtitle u-subtitle u-subtitle--big">{{ subtitle|nl2br }}</span>
					{% endif %}
					{% if title %}
						<h1 class="product-hero__title u-title u-title--big">{{ title|nl2br }}</h1>
					{% endif %}
				</div>
				{% if image %}
					<img src="{{ image.getUrl() }}" alt="{{ title }}" class="product-hero__image">
				{% endif %}
			</div>
			<div class="product-hero-bottom">
				{% if bottomTitle %}
					<div class="product-hero-bottom__title u-title u-title--section">{{ bottomTitle|nl2br }}</div>
				{% endif %}
				{% if bottomDescription %}
					<div class="product-hero-bottom__description">{{ bottomDescription|nl2br }}</div>
				{% endif %}
				{% if bottomImage %}
					<img src="{{ bottomImage.getUrl() }}" alt="{{ bottomTitle }}" class="product-hero-bottom__image">
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
