{% set title = entry.productFeaturesTitle %}
{% set subtitle = entry.productFeaturesSubtitle %}
{% set list = entry.productFeaturesList %}

<section class="u-section u-section--product-features js-bg-shape-hld">
	<div class="bg-shape bg-shape--center-left js-bg-shape" data-version="center-left">
		<div class="s1 js-s1"></div>
	</div>
	<div class="u-wrapper">
		<div class="product-features">
			<div class="product-features__header">
				{% if subtitle %}
					<span class="product-features__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
				{% endif %}
				{% if title %}
					<h2 class="product-features__title u-title u-title--section">{{ title }}</h2>
				{% endif %}
			</div>
			{% if list %}
				<div class="product-features__list">
					{% for item in list %}
						{% set title = item.featureTitle %}
						{% set description = item.featureDescription %}
						{% set icon = item.featureIcon.one() %}
						{% if icon %}
							{% set icon = item.featureIcon.one().getUrl() %}
						{% endif %}
						<div class="feature">
							<img src="{{icon}}" alt="{{title}}" class="feature__icon">
							{% if title %}
								<h3 class="feature__title">{{title}}</h3>
							{% endif %}
							{% if description %}
								<p class="feature__description">{{description}}</p>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

</section>
