{% set mainTitle = entry.relatedArticlesMainTitle %}
{% set mainSubtitle = entry.relatedArticlesMainSubtitle %}
{% if mainTitle %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section--related-articles u-section">
		<div class="u-wrapper u-wrapper--medium-wide">
			<div class="related-articles">
				<span class="u-subtitle u-subtitle--section u-subtitle--centered related-articles__main-subtitle">{{ mainSubtitle }}</span>
				<h2 class="u-title u-title--section u-subtitle--centered related-articles__main-title">{{ mainTitle }}</h2>
				<div class="related-articles__items-hld">
					{% set chosenEntries = entry.relatedArticlesChosenEntries %}
					<div class="left">
						{% for post in chosenEntries %}
							{% set isNews = post.postMainCategory %}
							{% set isEvent = post.eventCategory %}
							{% set isPodcast = post.podcastDetailsID %}
							{% if loop.index0 == 0 %}
								<a class="related-articles__item is-featured" href="{{ post.url }}">
									<div class="image-hld">
										{% if isNews %}
											{% set image = post.newsPostsfeaturedImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl() %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% elseif isEvent %}
											{% set image = post.eventImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl('eventItemListing') %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% elseif isPodcast %}
											{% set image = post.podcastDetailsImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl('latestPostThumb') %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% endif %}
										{% if image %}
											<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" width="600" height="342">
											{% if isPodcast %}
												<span class="icon icon-button_play"></span>
											{% endif %}
										{% else %}
											<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder-image.jpg') }}" width="600" height="342" alt="Wiliot placeholder image">
										{% endif %}
									</div>
									<div class="text-hld">
										<div class="label {% if isNews %} label--medium {% elseif isEvent %} label--very-light {% elseif isPodcast %} label--very-dark {% endif %}">
											{% if isNews %}
												{{ post.postMainCategory.one().title }}
											{% elseif isEvent %}
												{{ post.eventCategory.one().title }}
											{% elseif isPodcast %}
												Podcast
											{% endif %}
										</div>
										<div class="date">
											{{ post.postDate | date("F d, Y") }}
										</div>
										<div class="title">
											{{ post.title|length > 110 ? post.title|slice(0, 107) ~ '...' : post.title }}
										</div>
										<div class="excerpt">
											{% if isNews %}
												{% set excerpt = post.newsPostsExcerpt|striptags|slice(0, 210) ~ '...' %}
											{% elseif isEvent %}
												{% set excerpt = post.eventExcerpt|striptags|slice(0, 210) ~ '...' %}
											{% elseif isPodcast %}
												{% set excerpt = post.podcastDetailsExcerpt|striptags|slice(0, 210) ~ '...' %}
											{% endif %}
											{{ excerpt }}
										</div>
									</div>
								</a>
							{% endif %}
						{% endfor %}
					</div>
					<div class="right">
						{% for post in chosenEntries %}
							{% set isNews = post.postMainCategory %}
							{% set isEvent = post.eventCategory %}
							{% set isPodcast = post.podcastDetailsID %}
							{% if loop.index0 > 0 %}
								<a class="related-articles__item is-normal" href="{{ post.url }}">
									<div class="image-hld">
										{% if isNews %}
											{% set image = post.newsPostsfeaturedImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl() %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% elseif isEvent %}
											{% set image = post.eventImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl('eventItemListing') %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% elseif isPodcast %}
											{% set image = post.podcastDetailsImage.one() %}
											{% if image %}
												{% set imageUrl = image.getUrl('latestPostThumb') %}
												{% set imageAlt = image.title %}
											{% endif %}
										{% endif %}
										{% if image %}
											<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" width="304" height="170">
											{% if isPodcast %}
												<span class="icon icon-button_play"></span>
											{% endif %}
										{% else %}
											<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/placeholder-image.jpg') }}" width="304" height="170" alt="Wiliot placeholder image">
										{% endif %}
									</div>
									<div class="text-hld">
										<div class="label {% if isNews %} label--medium {% elseif isEvent %} label--very-light {% elseif isPodcast %} label--very-dark {% endif %}">
											{% if isNews %}
												{{ post.postMainCategory.one().title }}
											{% elseif isEvent %}
												{{ post.eventCategory.one().title }}
											{% elseif isPodcast %}
												Podcast
											{% endif %}
										</div>
										<div class="date">
											{{ post.postDate | date("F d, Y") }}
										</div>
										<div class="title">
											{{ post.title|length > 110 ? post.title|slice(0, 107) ~ '...' : post.title }}
										</div>
									</div>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
