{# Hero #}
{% set heroSubtitle = entry.solutionHeroSubtitle %}
{% set heroTitle = entry.solutionHeroTitle %}
{% set solutionButtonsMatrix = entry.solutionButtonsMatrix.all() %}
{% set heroImage = entry.solutionHeroImage.one() %}
{% if heroImage %}
	{% set heroImageUrl = heroImage.getUrl() %}
	{% set heroImageWidth = heroImage.getWidth() %}
	{% set heroImageHeight = heroImage.getHeight() %}
	{% set heroImageAlt = heroImage.title %}
{% endif %}
{# Hero bottom #}
{% set heroBottomTitle = entry.solutionHeroBottomTitle %}
{% set heroBottomDescription = entry.solutionHeroBottomDescription %}
{% set heroBottomImage = entry.solutionHeroBottomImage.one() %}
{% if heroBottomImage %}
	{% set heroBottomImageUrl = heroBottomImage.getUrl() %}
	{% set heroBottomImageWidth = heroBottomImage.getWidth() %}
	{% set heroBottomImageHeight = heroBottomImage.getHeight() %}
	{% set heroBottomImageAlt = heroBottomImage.title %}
{% endif %}
{# Infobox #}
{% if entry.infoboxMatrix %}
    {% if entry.infoboxTitle %}
	    {% set infoboxTitle = entry.infoboxTitle %}
    {% else %}
	    {% set infoboxTitle = null %}
    {% endif %}
	{% set infoboxMatrix = entry.infoboxMatrix.all() %}
{% else %}
    {% set infoboxTitle = null %}
	{% set infoboxMatrix = null %}
{% endif %}
{# Content #}
{% set contentSubtitle = entry.solutionContentSubtitle %}
{% set contentTitle = entry.solutionContentTitle %}
{# Tabs #}
{% set tabMatrix = entry.solutionTabMatrix.all() %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--solutions-details js-bg-shape-hld">
	<div class="bg-shape bg-shape--center-right js-bg-shape" data-version="center-right">
		<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-right.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="bg-shape bg-shape--center-left js-bg-shape" data-version="center-left">
		<img class="s1 js-s1 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/center-left.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="solutions-details">
		<div class="solutions-details__hero {% if not heroImage %} has-no-image {% endif %}">
			<div class="u-wrapper">
				<div class="solutions-details__hero-top">
					<div class="text-hld">
						<div class="subtitle u-subtitle u-subtitle--big">{{ heroSubtitle|nl2br }}</div>
						<h1 class="title u-title u-title--big">{{ heroTitle|nl2br }}</h1>
						{% if solutionButtonsMatrix %}
							<div class="buttons-hld">
								{% for item in solutionButtonsMatrix %}
									{% set button = item.button %}
                                    {% if item.buttonColor != '' %}
                                        {% set buttonColor = item.buttonColor %}
                                    {% else %}
                                        {% set buttonColor = 'accent' %}
                                    {% endif %}
                                    {% set isTypeFormBtn = item.isTypeformButton %}
                                    {% if isTypeFormBtn %}
                                        {% set typeformID = pageOptions.pageOptionsTypeFormID %}
                                        <button class="btn btn--{{ loop.index }} u-btn u-btn--{{ buttonColor }}" data-tf-popup="{{ typeformID }}" data-tf-size="{{ pageOptions.pageOptionsTypeFormSize }}" data-tf-medium="snippet">
                                            <span class="text">{{ button.customText }}</span>
                                        </button>
                                    {% else %}
                                        <a href="{{ button.url }}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="btn btn--{{ loop.index }} u-btn u-btn--{{ buttonColor }}">
                                            <span class="text">{{ button.customText }}</span>
                                        </a>
                                    {% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>
					{% if heroImage %}
						<div class="image-hld">
							<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ heroImageUrl }}" alt="{{ heroImageAlt }}" width="{{ heroImageWidth }}" height="{{ heroImageHeight }}"/>
						</div>
					{% endif %}
				</div>
				<div class="solutions-details__hero-bottom">
					<div class="text-hld">
						<div class="title u-title u-title--section">{{ heroBottomTitle }}</div>
						<div class="description">{{ heroBottomDescription }}</div>
					</div>
					{% if heroBottomImage %}
						<div class="image-hld">
							<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ heroBottomImageUrl }}" alt="{{ heroBottomImageAlt }}" width="{{ heroBottomImageWidth }}" height="{{ heroBottomImageHeight }}"/>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
        {% if infoboxMatrix %}
            <div class="solutions-details__infobox">
                <div class="u-wrapper u-wrapper--medium">
                    {% if infoboxTitle %}
                        <div class="items-title u-title u-title--section">{{ infoboxTitle|nl2br }}</div>
                    {% endif %}
                    <div class="items-hld">
                    {% for item in infoboxMatrix %}
                        {% set itemIcon = item.itemIcon.one() %}
                        {% set itemName = item.itemName %}
                        {% set itemDescription = item.itemDescription %}
                        <div class="item">
                            {% if itemIcon %}
                                <div class="icon-hld">
                                    <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ itemIcon.url }}" alt="{{ itemName }}">
                                </div>
                            {% endif %}
                            <div class="name u-subtitle u-subtitle--big">{{ itemName|nl2br }}</div>
                            <div class="description">{{ itemDescription }}</div>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endif %}
		<div class="solutions-details__content-hld js-solutions-slider-hld js-toggle-active-hld">
			<div class="solutions-details__content-subtitle">{{ contentSubtitle|nl2br }}</div>
			<div class="solutions-details__content-title u-title u-title--section">{{ contentTitle|nl2br }}</div>
			{% if tabMatrix|length > 1 %}
				<div class="solutions-details__tabs-slider swiper-container js-solutions-slider-tabs">
					<div class="solutions-details__tabs-slider-wrapper swiper-wrapper">
						{% for item in tabMatrix %}
							{% set tabName = item.solutionTabName %}
							{% set urlHashname = tabName|replace(' ', '-')|lower %}
							<div id="{{ urlHashname }}" class="solutions-details__tab-item solutions-details__tab-item--{{ loop.index }} swiper-slide js-toggle-active-tab-item {{ loop.index == 1 ? 'is-tab-active' : null }}">
								<div class="tabname">{{ tabName }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="solutions-details__content-slider swiper-container js-solutions-slider-items">
				<div class="swiper-wrapper">
					{% for item in tabMatrix %}
						{% set tabName = item.solutionTabName %}
						{% set urlHashname = tabName|replace(' ', '-')|lower %}
						{% set tabItemMatrix = item.solutionTabItemMatrix.all() %}
						<div class="solutions-details__content-item solutions-details__content-item--{{ loop.index }} swiper-slide js-toggle-active-item" data-hash="{{ urlHashname }}">
							<ul class="box box--a">
								{% for tabItem in tabItemMatrix %}
									{# Name #}
									{% set tabItemName = tabItem.itemName %}
									{# Image #}
									{% set tabItemImage = tabItem.itemImage.one() %}
									{% if tabItemImage %}
										{% set tabItemImageUrl = tabItemImage.getUrl('solutionsDetailsTabItem') %}
										{% set tabItemImageWidth = tabItemImage.getWidth() %}
										{% set tabItemImageHeight = tabItemImage.getHeight() %}
										{% set tabItemImageAlt = tabItemImage.title %}
									{% endif %}
									<li class="box__nav-item js-toggle-active-nav-item {% if loop.index == 1 %} is-active {% endif %}" data-key="{{ loop.index }}">
										<div class="text-hld">
											<div class="index">
											{% if loop.index < 10 %}0{% endif %}{{ loop.index }}
											</div>
											<div class="name">
												{{ tabItemName }}
											</div>
										</div>
										{% if tabItemImage %}
											<div class="image-hld">
												<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ tabItemImageUrl }}" alt="{{ tabItemImageAlt }}" width="{{ tabItemImageWidth }}" height="{{ tabItemImageHeight }}"/>
											</div>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
							<div class="box box--b">
								{% for tabItem in tabItemMatrix %}
									{# Name #}
									{% set tabItemName = tabItem.itemName %}
									{# Content #}
									{% set tabItemContentMatrix = tabItem.itemContentMatrix.all() %}
									<div class="box__content-item js-toggle-active-content-item" data-key="{{ loop.index }}">
										<div class="name">{{ tabItemName }}</div>
										{% for itemContent in tabItemContentMatrix %}
											{% set itemContentTitle = itemContent.itemContentTitle %}
											{% set itemContentDescription = itemContent.itemContentDescription %}
											<div class="title u-subtitle u-subtitle--big">{{ itemContentTitle }}</div>
											<div class="description">{{ itemContentDescription }}</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<fscript src="{{ alias('@web/src/js/solutionsDetails.min.js') }}"></fscript>
