<section class="u-section u-section--subscribe js-bg-shape-hld">
	<div class="bg-shape bg-shape--top-right js-bg-shape" data-version="top-right">
		<img class="s1 js-s1 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-1.png' )}}" alt="Background shape blurry blob">
		<img class="s2 js-s2 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-2.png' )}}" alt="Background shape blurry blob">
		<img class="s3 js-s3 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/top-right-3.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
		<img class="s1 js-s1" src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-1.png' )}}" alt="Background shape blurry blob">
		<img class="s2 js-s2 js-lazy" data-src="{{ alias('@web/src/img/bg-shape/optimized/bottom-left-2.png' )}}" alt="Background shape blurry blob">
	</div>
	<div class="u-wrapper">
		{% set subtitle = entry is defined and entry.subscribeSubtitle ? entry.subscribeSubtitle : subscribeSection.subscribeSubtitle %}
		{% set title = entry is defined and entry.subscribeTitle ? entry.subscribeTitle : subscribeSection.subscribeTitle %}
		{% set button = entry is defined and entry.subscribeButton ? entry.subscribeButton : subscribeSection.subscribeButton %}
		<div class="subscribe js-modal-hld">
			{% if subtitle %}
				<span class="subscribe__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
			{% endif %}
			{% if title %}
				<h2 class="subscribe__title u-title u-title--section">{{ title }}</h2>
			{% endif %}
			{% if button.getUrl() %}
				<button class="subscribe__button btn u-btn u-btn--light js-modal-btn">
					<span class="text">
						{{ button.customText }}
					</span>
				</button>
				<div class="subscribe-modal js-modal-modal">
					<div class="overlay js-modal-close"></div>
					<div class="subscribe-modal__inner">
						<div class="subscribe-modal__modal">
							{% if entry is defined and entry.title|lower == 'podcasts' %}
								{{ include('/sections/subscribe-form-podcasts.twig') }}
							{% else %}
								{{ include('/sections/subscribe-form-normal.twig') }}
							{% endif %}
						</div>
						<span class="subscribe-modal__close js-modal-close">
							<span class="icon icon-close"></span>
						</span>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
