{% set mainTitle = entry.suppyChainMainTitle %}
{% set mainSubtitle = entry.suppyChainMainSubtitle %}
{% set mobileSubtitle = entry.suppyChainMobileSubtitle %}
{% set textContentMatrix = entry.textContentMatrix.all() %}
{% if mainTitle %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--supply-chain-animation js-supply-chain-lottie-animation-hld">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/supply-chain-animation.css') }}?v=06062024">
		<div class="u-wrapper u-wrapper--extra-wide">
			<div class="supply-chain-animation">
				<div class="supply-chain-animation__main-title-hld">
					<h2 class="main-title">
						{{ mainTitle }}
					</h2>
					<div class="supply-chain-animation__main-subtitle-hld {% if mobileSubtitle %} has-mobile-subtitle {% endif %}">
						{% if mainSubtitle %}
							<div class="main-subtitle main-subtitle--desktop">
								{{ mainSubtitle }}
							</div>
						{% endif %}
						{% if mobileSubtitle %}
							<div class="main-subtitle main-subtitle--mobile">
								{{ mobileSubtitle }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="supply-chain-animation__animation-hld">
					<img class="js-lazy animation-placeholder animation-placeholder--desktop" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/supply-chain-animation-placeholder-desktop.jpg') }}" alt="supply chain animation">
					<img class="js-lazy animation-placeholder animation-placeholder--mobile" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/supply-chain-animation-placeholder-mobile.jpg') }}" alt="supply chain animation">
					<div class="animation animation--desktop js-lottie-animation" data-rwd="desktop" data-animation-path="/src/img/supply-chain-animation.json?v=06062024">
					</div>
					<div class="animation animation--mobile js-lottie-animation" data-rwd="mobile" data-animation-path="/src/img/supply-chain-animation-mobile.json?v=06062024"></div>
					<div class="label-hover-area-hld">
						{% for item in textContentMatrix %}
							{% set itemLink = item.itemLink %}
        					{% set itemLinkEntry = itemLink ? itemLink.getElement() : null %}
							{% if loop.index0 == 0 %}
								{% set label = 'warehouse' %}
							{% elseif loop.index0 == 1 %}
								{% set label = 'transport' %}
							{% elseif loop.index0 == 2 %}
								{% set label = 'distribution' %}
							{% elseif loop.index0 == 3 %}
								{% set label = 'return' %}
							{% elseif loop.index0 == 4 %}
								{% set label = 'home' %}
							{% elseif loop.index0 == 5 %}
								{% set label = 'store' %}
							{% elseif loop.index0 == 6 %}
								{% set label = 'delivery' %}
							{% elseif loop.index0 == 7 %}
								{% set label = 'farm' %}
							{% elseif loop.index0 == 8 %}
								{% set label = 'processing' %}
							{% endif %}
							{% if itemLink %}
								{% if itemLink.url != '' %}
									<a href="{{ itemLink.url }}" target="{{ itemLink.target ? '_blank' : '_self' }}" rel="{{ itemLink.target ? 'noopener noreferrer' : null }}" class="label-hover-area is-link js-supply-chain-lottie-animation-hover-area" data-label="{{ label }}" {% if itemLinkEntry %} aria-label="{{ itemLinkEntry.title }}"{% endif %}></a>
								{% else %}
									<div class="label-hover-area js-supply-chain-lottie-animation-hover-area" data-label="{{ label }}"></div>
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="supply-chain-animation-labels-hld">
				{% for item in textContentMatrix %}
					{% set itemLink = item.itemLink %}
					{% set heading = item.heading %}
					{% set description = item.description %}
					{% if loop.index0 == 0 %}
						{% set label = 'warehouse' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/warehouse.png') %}
					{% elseif loop.index0 == 1 %}
						{% set label = 'transport' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/transport.png') %}
					{% elseif loop.index0 == 2 %}
						{% set label = 'distribution' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/distribution.png') %}
					{% elseif loop.index0 == 3 %}
						{% set label = 'return' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/return.png') %}
					{% elseif loop.index0 == 4 %}
						{% set label = 'home' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/home.png') %}
					{% elseif loop.index0 == 5 %}
						{% set label = 'store' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/store.png') %}
					{% elseif loop.index0 == 6 %}
						{% set label = 'delivery' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/delivery.png') %}
					{% elseif loop.index0 == 7 %}
						{% set label = 'farm' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/farm.png') %}
					{% elseif loop.index0 == 8 %}
						{% set label = 'processing' %}
						{% set imagePath = alias('@web/src/img/supply-chain-static/processing.png') %}
					{% endif %}
					<div class="label {% if itemLink %}{% if itemLink.url != '' %} has-link {% endif %}{% endif %} js-supply-chain-lottie-animation-label" data-label="{{ label }}">
						<div class="image-hld">
							<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imagePath }}" alt="{{ label }}" width="120" height="120">
						</div>
						<div class="text-hld">
							<div class="title">
								{{ heading }}
							</div>
							<div class="description">
								{{ description }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<fscript src="{{ alias('@web/src/js/lottieAnimation.min.js') }}"></fscript>
	<fscript src="{{ alias('@web/src/js/supplyChainLottieAnimation.min.js') }}"></fscript>
{% endif %}
