<section class="u-section u-section--swiper-examples">
	<div class="u-wrapper">
		<div class="swiper-examples">
			<div class="swiper-examples__slider-hld swiper-examples__slider-hld--1">
				<div class="swiper-examples__slider js-example-slider swiper-container">
					<div class="swiper-wrapper">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
					</div>
				</div>
				<span class="swiper-examples__title u-title">^^ lazyloaded looped swiper slider example 1 ^^</span>
			</div>
			<div class="swiper-examples__slider-hld swiper-examples__slider-hld--2">
				<div class="swiper-examples__slider js-example-slider-2 swiper-container">
					<div class="swiper-wrapper">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
						<img class="swiper-examples__slider-item swiper-slide js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/screenshot.jpg')}}" alt="I am lazyloaded image" width="500" height="250">
					</div>
				</div>
				<span class="swiper-examples__title u-title">^^ lazyloaded swiper slider example 2 ^^</span>
			</div>
		</div>
	</div>
</section>
