{% set twoBoxesTitle = entry.twoBoxesTitle %}
{% set twoBoxesMatrix = entry.twoBoxesMatrix.all() %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--two-boxes">
	<div class="u-wrapper">
		<div class="two-boxes">
			<div class="two-boxes__title u-title u-title--section">{{ twoBoxesTitle }}</div>
			{% if twoBoxesMatrix|length %}
				<div class="two-boxes__items-hld">
					{% for item in twoBoxesMatrix %}
						{% set image = item.twoBoxesImage.one() %}
						{% if image %}
							{% set imageUrl = image.getUrl() %}
							{% set imageWidth = image.getWidth() %}
							{% set imageHeight = image.getHeight() %}
							{% set imageAlt = image.title %}
						{% endif %}
						{% set title = item.twoBoxesTitle %}
						{% set desc = item.twoBoxesDescription %}
						{% set button = item.twoBoxesButton %}
						<a href="{{ button.url}}" target="{{ button.target ? '_blank' : '_self' }}" rel="{{ button.target ? 'noopener noreferrer' : null }}" class="two-boxes__item item {% if not image %} is-no-image {% endif %}">
							{% if image %}
								<div class="item__image-hld">
									<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageUrl }}" alt="{{ imageAlt }}" />
								</div>
							{% endif %}
							<div class="item__text-hld">
								<div class="item__title">{{ title|length > 45 ? title|slice(0, 42) ~ '...' : title }}</div>
								<div class="item__description">{{ desc }}</div>
								<div class="item__btn u-btn u-btn--arrow">
									<span class="text">{{ button.customText ? : 'Learn More' }}</span>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</section>
