{% set title = entry.vendorsTableTitle %}
{% set subtitle = entry.vendorsTableSubtitle %}
{% set itemsMatrix = entry.vendorsTableMatrix.all() %}
{% set summary = entry.vendorsTableSummary %}
{% if title and itemsMatrix %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--vendors-table {% if entry.section|lower == 'homepage' %} js-bg-shape-hld {% endif %} js-vendors-table-slider-hld">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/vendors-table.css') }}?v=09102023">
		<div class="u-wrapper u-wrapper--medium-wide">
			<div class="vendors-table">
				{% if title %}
					<h2 class="vendors-table__title u-title u-title--section">{{ title|nl2br }}</h2>
				{% endif %}
				{% if subtitle %}
					<span class="vendors-table__subtitle">{{ subtitle }}</span>
				{% endif %}
				<div class="vendors-table__items-hld-outer">
					<div class="vendors-table__items-hld-inner">
						<div class="vendors-table__item vendors-table__item--first">
							<div class="box box--label"><span>Vendor</span></div>
							<div class="box box--label box--double"><span>Product</span></div>
							<div class="box box--wide box--label box--services"><span>Services</span></div>
							<div class="box box--label"><span>Customized Hardware</span></div>
							<div class="box box--label"><span>Gateway Offering</span></div>
							<div class="box box--label"><span>Form Factor</span></div>
							<div class="box box--label"><span>Solutions /Apps</span></div>
							<div class="box box--wide box--label"><span>Hardware Only Sold as Part of SaaS Service</span></div>
							<div class="box box--label"><span>Beacon Protocols</span></div>
							<div class="box box--label"><span>UWB Supported</span></div>
							<div class="box box--label"><span>HQ</span></div>
							<div class="box box--label"><span>Year Founded</span></div>
							<div class="box box--label"><span>Podcast</span></div>
							<div class="box box--label"><span>Corrections and Addditions</span></div>
						</div>
						<div class="swiper-container js-vendors-table-slider">
							<div class="swiper-wrapper">
								{% set itemsPerSlide = 3 %}
								{% set totalItems = itemsMatrix|length %}
								{% set slidesNeeded = (totalItems // itemsPerSlide) + (totalItems % itemsPerSlide > 0 ? 1 : 0) %}
								{% for slide in 0..(slidesNeeded - 1) %}
									<div class="swiper-slide">
										{% for i in 1..itemsPerSlide %}
											{% set index = (slide * itemsPerSlide) + (i - 1) %}
											{% if index < totalItems %}
												{% set item = itemsMatrix[index] %}
												{% set vendor = item.vendor %}
												{% set productMatrix = item.productMatrix %}
												{% set services = item.services %}
												{% set customizedHardware = item.customizedHardware %}
												{% set gatewayOffering = item.gatewayOffering %}
												{% set formFactor = item.formFactor %}
												{% set solutionsApps = item.solutionsApps %}
												{% set hardwareOnly = item.hardwareOnlySoldAsPartOfSaasService %}
												{% set beaconProtocols = item.beaconProtocols %}
												{% set uwbSupported = item.uwbSupported %}
												{% set hq = item.hq %}
												{% set yearFounded = item.yearFounded %}
												{% set podcastMatrix = item.podcast %}
												{% set correctionsMatrix = item.correctionsAndAddditionsMatrix %}
												<div class="vendors-table__item">
													<div class="box box--vendor">{{ vendor|nl2br }}</div>
													<div class="box box--double box--product-hld-outer">
														{% for product in productMatrix %}
															{% set image = product.productImage.one() %}
															{% set name = product.productName %}
															<div class="product-hld-inner">
																<div class="image-hld">
																	<img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl() }}" alt="{{ name }}">
																</div>
																<div class="name">
																	{{ name|nl2br }}
																</div>
															</div>
														{% endfor %}
													</div>
													<div class="box box--wide box--services">
														{{ services }}
													</div>
													<div class="box box--customized-hardware">
														<div class="check {% if customizedHardware %} is-checked {% endif %}"></div>
													</div>
													<div class="box box--gateway-offering">
														<div class="check {% if gatewayOffering %} is-checked {% endif %}"></div>
													</div>
													<div class="box box--form-factor">
														{{ formFactor|nl2br }}
													</div>
													<div class="box box--solutions-apps">
														{{ solutionsApps }}
													</div>
													<div class="box box--wide box--hardware-only">
														<div class="check {% if hardwareOnly %} is-checked {% endif %}"></div>
													</div>
													<div class="box box--beacon-protocols">
														{{ beaconProtocols }}
													</div>
													<div class="box box--uwb-supported">
														<div class="check {% if uwbSupported %} is-checked {% endif %}"></div>
													</div>
													<div class="box box--hq">
														{{ hq }}
													</div>
													<div class="box box--year-founded">
														{{ yearFounded }}
													</div>
													<div class="box box--podcast-buttons">
														{% for podcastButton in podcastMatrix %}
															{% set linkButton = podcastButton.linkButton %}
															{% if linkButton.url %}
																<a href="{{ linkButton.url }}" target="{{ linkButton.target ? '_blank' : '_self' }}" rel="{{ linkButton.target ? 'noopener noreferrer' : null }}">
																	<span class="text"> {% if linkButton.customText %} {{ linkButton.customText}} {% else %} {{ linkButton.url }} {% endif %}</span>
																</a>
															{% endif %}
														{% endfor %}
													</div>
													<div class="box box--corrections-buttons">
														{% for correctionsButton in correctionsMatrix %}
															{% set linkButton = correctionsButton.linkButton %}
															{% if linkButton.url %}
																<a href="{{ linkButton.url }}" target="{{ linkButton.target ? '_blank' : '_self' }}" rel="{{ linkButton.target ? 'noopener noreferrer' : null }}">
																	<span class="text"> {% if linkButton.customText %} {{ linkButton.customText}} {% else %} {{ linkButton.url }} {% endif %}</span>
																</a>
															{% endif %}
														{% endfor %}
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="vendors-table__bottom">
					<div class="vendors-table__numbers-hld">
						<span class="current-number js-vendors-table-slider-current">1-3</span>
						<span class="text">of</span>
						<span class="total-number js-vendors-table-slider-total-items">{{ totalItems }}</span>
					</div>
					<div class="vendors-table__nav-hld">
						<div class="nav-btn nav-btn--prev swiper-button swiper-button--prev js-vendors-table-slider-button-prev">
							<span class="icon icon-dropdown-down"></span>
						</div>
						<div class="pagination swiper-pagination js-vendors-table-slider-pagination"></div>
						<div class="nav-btn nav-btn--next swiper-button swiper-button--next js-vendors-table-slider-button-next">
							<span class="icon icon-dropdown-down"></span>
						</div>
					</div>
				</div>
				{% if summary %}
					<div class="vendors-table__summary">
						{{ summary|nl2br }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
