{% set title = entry.vendorsTableTitle %}
{% set subtitle = entry.vendorsTableSubtitle %}
{% set itemsMatrix = entry.vendorsTableMatrix.all() %}
{% set summary = entry.vendorsTableSummary %}
{% if title and itemsMatrix %}
	<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--vendor-slider {% if entry.section|lower == 'homepage' %} js-bg-shape-hld {% endif %} js-vendors-slider-hld">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/vendors-table.css') }}?v=09-01-2024">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/vendors-slides.css') }}?v=09-01-2024">
		<div class="u-wrapper u-wrapper--medium-wide">
			<div class="vendors-table">
				{% if title %}
					<h2 class="vendors-table__title u-title u-title--section">{{ title|nl2br }}</h2>
				{% endif %}
				{% if subtitle %}
					<span class="vendors-table__subtitle">{{ subtitle }}</span>
				{% endif %}
				<div class="vendors-table__items-hld-outer vendor-slider-items-hld">
					<div class="swiper-container js-vendors-slider">
						<div class="swiper-wrapper">
							{% for item in itemsMatrix %}
								{% set logo = item.logo.one() %}
								{% set vendor = item.vendor %}
								{% set services = item.services %}
								{% set productMatrix = item.productMatrix %}
								<div class="swiper-slide vendor-slide">
									<div class="vendor-logo">
										<img class="js-lazy" src="data:image/svg+xml,%3Csvgxmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ logo.getUrl() }}" alt="{{ logo.title }}">
									</div>
									<div class="vendor-body">
										<div>
											<h3>{{ vendor }}</h3>
											<hr />
											<p>{{ services }}</p>
										</div>
										<div class="vendor-image">
											{% for product in productMatrix %}
												{% set image = product.productImage.one() %}
												{% set name = product.productName %}
												{% if loop.index0 == 0 %}
													<img class="js-lazy" src="data:image/svg+xml,%3Csvgxmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl() }}" alt="{{ image.title }}">
													<p><strong>{{ name|nl2br }}</strong></p>
												{% endif %}
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="vendors-table__bottom">
					<div class="vendors-table__nav-hld">
						<div class="nav-btn nav-btn--prev swiper-button swiper-button--prev js-vendors-slider-button-prev">
							<span class="icon icon-dropdown-down"></span>
						</div>
						<div class="nav-btn nav-btn--next swiper-button swiper-button--next js-vendors-slider-button-next">
							<span class="icon icon-dropdown-down"></span>
						</div>
					</div>
				</div>
				{% if summary %}
					<div class="vendors-table__summary">
						{{ summary|nl2br }}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
