{% set title = entry.vendorsTableTitle %}
{% set subtitle = entry.vendorsTableSubtitle %}
{% set itemsMatrix = entry.vendorsTableMatrix.all() %}
{% if itemsMatrix %}
    <section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--vendors-table {% if entry.section|lower == 'homepage' %} js-bg-shape-hld {% endif %}">
		<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/components/vendors-table.css') }}?v=21092023">
        <div class="u-wrapper u-wrapper--medium-wide">
            <div class="vendors-table">
                {% if subtitle %}
                    <span class="vendors-table__subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
                {% endif %}
                {% if title %}
                    <h2 class="vendors-table__title u-title u-title--section">{{ title|nl2br }}</h2>
                {% endif %}
                <div class="vendors-table__items-hld">
                    {% for item in itemsMatrix %}
                        {% set vendor = item.vendor %}
                        {# {% set image = item.itemImage.one() %} #}
                        <div class="vendors-table__item">
                            {# <div class="vendors-table__item-image-hld image-hld">
                                <img class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ image.getUrl('fiftyFiftyV2Image') }}" alt="{{ title }}">
                            </div> #}
                            <div class="vendors-table__item-text-hld text-hld">
                                {% if vendor %}
                                    <h2 class="vendors-table__item-title">{{ vendor|nl2br }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
