{% set title = entry.VideosTitle %}
{% set subtitle = entry.VideosSubtitle %}
{% set videos = entry.videos %}
    {% set firstVideo = videos | first %}
    {% set videos = videos | slice(1) %}
{% set buttons = entry.VideosButtons %}

<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--videos">
	<div class="u-wrapper">
        {% if subtitle %}
            {{ test }}<span class="videos-section-subtitle u-subtitle u-subtitle--section">{{ subtitle }}</span>
        {% endif %}
        {% if title %}
            <h2 class="videos-section-title u-title u-title--section">{{ title }}</h2>
        {% endif %}

        <div class="main-video">
            <div class="video-hld js-video-hld is-paused show-thumbnail">
                <span class="video-number">#1</span>
                <span class="icon icon-button_play"></span>
                <img class="js-lazy thumbnail" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ firstVideo.thumbnail.one().getUrl() }}"/>
                <video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ firstVideo.file.one().getUrl() }}"></video>
            </div>
            <p class="main-video__desc">{{ firstVideo.description }}</p>
        </div>

        {% if buttons|length %}
            <div class="video-buttons">
                {% for button in buttons %}
                    {% set class = button.color == 'regular' ? 'u-btn--light' : 'u-btn--accent' %}
                    <a class="text-and-photo__button u-btn {{ class }}" href="{{ button.button }}" ><span class="text">{{ button.button.customText }}</span></a>
                {% endfor %}
            </div>
        {% endif %}

        {% if videos|length %}
            <div class="videos-list">
                {% for video in videos %}
                    <div class="videos-list__item">
                        <div class="video-hld js-video-hld is-paused show-thumbnail">
                            <span class="video-number">#{{ loop.index + 1 }}</span>
                            <span class="icon icon-button_play"></span>
                            <img class="js-lazy thumbnail" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ video.thumbnail.one().getUrl() }}"/>
                            <video class="js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ video.file.one().getUrl() }}"></video>
                        </div>
                        <p class="video-desc">{{ video.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</section>