<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
        <description>{{ globalMetaTags.metaDescription }}</description>
        <language>{{ craft.app.language }}</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>
        {% set entriesNewsIDs = craft.entries()
            .section('newsPosts')
            .ids() %}
        {% set entriesPodcastsIDs = craft.entries()
            .section('podcastDetails')
            .ids() %}
        {% set entriesEventsIDs = craft.entries()
            .section('eventItems')
            .ids() %}
        {% set allEntriesIds = entriesNewsIDs|merge(entriesPodcastsIDs)|merge(entriesEventsIDs) %}
        {% set rssEntries = craft.entries.id(allEntriesIds).orderBy('postDate desc').limit(1000) %}
        {% for entry in rssEntries %}
            {% set excerpt = false %}
            {% set thumbnailUrl = false %}
            {% if entry.postContent %}
                {% set excerpt = entry.postContent|striptags|slice(0, 650) %}
                {% set image = entry.newsPostsfeaturedImage.one() %}
                {% if image %}
                    {% set thumbnailUrl = image.getUrl() %}
                {% endif %}
            {% endif %}
            {% if entry.podcastDetailsContent %}
                {% set excerpt = entry.podcastDetailsContent|striptags|slice(0, 650) %}
                {% set image = entry.podcastDetailsImage.one() %}
                {% if image %}
                    {% set thumbnailUrl = image.getUrl('latestPostThumb') %}
                {% endif %}
            {% endif %}
            {% if entry.eventContent %}
                {% set excerpt = entry.eventContent|striptags|slice(0, 650) %}
                {% set image = entry.eventImage.one() %}
                {% if image %}
                    {% set thumbnailUrl = image.getUrl('eventItemListing') %}
                {% endif %}
            {% endif %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <guid>{{ entry.url }}</guid>
                <description>
                    {% if thumbnailUrl %}
                        <![CDATA[<img src="{{ thumbnailUrl }}" />]]>
                    {% endif %}
                    {% if excerpt %}
                        <![CDATA[{{ excerpt|raw }}]]>
                    {% endif %}
                </description>
                {% if thumbnailUrl %}
                    <media:content url="{{ thumbnailUrl }}" medium="image" />
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>
