{% set entriesNewsIDs = craft.entries()
    .section('newsPosts')
    .ids() %}
{% set entriesPodcastsIDs = craft.entries()
    .section('podcastDetails')
    .ids() %}
{% set entriesEventsIDs = craft.entries()
    .section('eventItems')
    .ids() %}
{% set allEntriesIds = entriesNewsIDs|merge(entriesPodcastsIDs)|merge(entriesEventsIDs) %}
{% set rssEntries = craft.entries.id(allEntriesIds).orderBy('postDate desc').limit(1000) %}
<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
        <description>{{ globalMetaTags.metaDescription }}</description>
        <language>{{ craft.app.language }}</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>

        {% for entry in rssEntries %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <guid>{{ entry.url }}</guid>
                <description>
                    {% set excerpt = false %}
                    {% if entry.postContent %}
                        {% set excerpt = entry.postContent|striptags|slice(0, 650) %}
                    {% endif %}
                    {% if entry.podcastDetailsContent %}
                        {% set excerpt = entry.podcastDetailsContent|striptags|slice(0, 650) %}
                    {% endif %}
                    {% if entry.eventContent %}
                        {% set excerpt = entry.eventContent|striptags|slice(0, 650) %}
                    {% endif %}
                    {% if excerpt %}
                        <![CDATA[{{ excerpt|raw }}]]>
                    {% endif %}
                </description>
            </item>
        {% endfor %}
    </channel>
</rss>
