<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en">
	{% if entry is defined %}
		{% set metaTitle = entry.metaTitle %}
		{% set metaDescription = entry.metaDescription %}
		{% set postCreatedDate = entry.postDate|date("Y-m-d\\TH:i:s+00:00") %}
		{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
	{% elseif category is defined %}
		{% set metaTitle = category.metaTitle %}
		{% set metaDescription = category.metaDescription %}
		{% set postCreatedDate = null %}
		{% set postModifyDate = null %}
	{% endif %}
	{% block head %}
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>
				{% block title %}
					{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
				{% endblock %}
			</title>
			{% block description %}
				<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
			{% endblock %}
			<link rel="canonical" href="{{ craft.request.getUrl() }}"/>
			<meta property="og:locale" content="en_US"/>
			{% block og %}
				<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
				<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
				<meta property="og:type" content="website"/>
			{% endblock %}
			<meta property="og:url" content="{{ alias('@web') }}"/>
			<meta property="og:site_name" content="Wiliot" />
			<meta property="og:image" content="{{ entry is defined and entry.newsPostsfeaturedImage ? entry.newsPostsfeaturedImage.one().getUrl() : alias('@web/src/img/image.jpg') }}" name="image"/>
			<meta property="og:image:width" content="{{ entry is defined and entry.newsPostsfeaturedImage ? 840 : 1200 }}"/>
			<meta property="og:image:height" content="{{ entry is defined and entry.newsPostsfeaturedImage ? 576 : 628 }}"/>
			<meta name="twitter:card" content="summary"/>
			<meta name="twitter:site" content="@WiliotHQ"/>
			<meta name="twitter:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}"/>
			<meta name="twitter:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}"/>
			<meta name="twitter:image"content="{{ entry is defined and entry.newsPostsfeaturedImage ? entry.newsPostsfeaturedImage.one().getUrl() : alias('@web/src/img/image.jpg') }}"/>
			<link rel="icon" href="{{ alias('@web/favicon.ico') }}" type="image/x-icon"/>
			<style>
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_300_book.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_300_book.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 300;
				}
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_500_medium.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_500_medium.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 500;
				}
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_900_heavy.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_900_heavy.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 900;
				}
				@font-face {
					font-family: 'icomoon';
					src: url('{{ alias('@web/src/fonts/icomoon/fonts/icomoon.woff') }}') format('woff');
					font-weight: normal;
					font-style: normal;
					font-display: swap;
				}
			</style>
			<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/style.min.css') }}"/>
			<script>
				var scriptsExecuted = false;
				var head = document.getElementsByTagName('head')[0] || document.documentElement;
				function executeScripts() {
					var fscripts = document.querySelectorAll('fscript');
					[].forEach.call(fscripts, function(fscript) {
						var script = document.createElement('script');
						script.type = 'text/javascript';
						if (fscript.hasAttributes()) {
							for (var attributeKey in fscript.attributes) {
								if (fscript.attributes.hasOwnProperty(attributeKey)) {
									script[ fscript.attributes[ attributeKey ].name ] = fscript.attributes[ attributeKey ].value || true;
								}
							}
						} else {
							script.appendChild( document.createTextNode( fscript.innerHTML ) );
						}
						head.insertBefore( script, head.firstChild );
					});
				}
				function initScripts() {
					if (scriptsExecuted) {
						return;
					}
					scriptsExecuted = true;
					setTimeout(function() {
						if ('requestIdleCallback' in window) {
							requestIdleCallback(executeScripts, { timeout: 1000 });
						} else {
							executeScripts();
						}
					}, 1000);
				}
				window.addEventListener('scroll', function() {
					initScripts();
				}, false);
				document.onclick = function() {
					initScripts();
				};
			</script>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<fscript src="https://www.googletagmanager.com/gtag/js?id=UA-104066415-1"></fscript>
			<fscript>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-104066415-1');
			</fscript>
			<script type="application/ld+json">
				{
					"@context": "https://schema.org",
					"@graph": [
					{
						"@type": "WebSite",
						"@id": "https://www.wiliot.com/#website",
						"url": "https://www.wiliot.com/",
						"name": "{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}",
						"description": "{{ globalMetaTags.metaDescription }}",
						"potentialAction": [
						{
							"@type": "SearchAction",
							"target": {
							"@type": "EntryPoint",
							"urlTemplate": "https://www.wiliot.com/?s={search_term_string}"
							},
							"query-input": "required name=search_term_string"
						}
						],
						"inLanguage": "en-US"
					},
					{
						"@type": "ImageObject",
						"@id": "https://www.wiliot.com/#primaryimage",
						"inLanguage": "en-US",
						"url": "{{ entry is defined and entry.newsPostsfeaturedImage ? entry.newsPostsfeaturedImage.one().getUrl() : alias('@web/src/img/image.jpg') }}",
						"contentUrl": "{{ entry is defined and entry.newsPostsfeaturedImage ? entry.newsPostsfeaturedImage.one().getUrl() : alias('@web/src/img/image.jpg') }}",
						"width": 1200,
						"height": 628,
						"caption": "threat detection and response"
					},
					{
						"@type": "WebPage",
						"@id": "https://www.wiliot.com#webpage",
						"url": "https://www.wiliot.com",
						"name": "{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}",
						"isPartOf": { "@id": "https://www.wiliot.com/#website" },
						"datePublished": "{{ postCreatedDate }}",
						"dateModified": "{{ postModifyDate }}",
						"description": "{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}",
						"breadcrumb": {
						"@id": "https://www.wiliot.com/#breadcrumb"
						},
						"inLanguage": "en-US",
						"potentialAction": [
						{
							"@type": "ReadAction",
							"target": [
							"https://www.wiliot.com"
							]
						}
						]
					},
					{
						"@type": "BreadcrumbList",
						"@id": "https://www.wiliot.com#breadcrumb",
						"itemListElement": [
						{
							"@type": "ListItem",
							"position": 1,
							"name": "Home",
							"item": "https://www.wiliot.com/"
						},
						{
							"@type": "ListItem",
							"position": 2,
							"name": "Threat Detection and Response"
						}
						]
					}
					]
				}
			</script>
		</head>
	{% endblock %}
	<body class="{% if entry is defined %} is-page-{{ entry.section|lower }} {% endif %}">
		<header class="header header--desktop js-header">
			{{ include('/sections/menu-desktop.twig') }}
		</header>
		<header class="header header--mobile js-header">
			{{ include('/sections/menu-mobile.twig') }}
		</header>
		<main>
			{% block main %}
				{% set latestPopup = craft.entries.section('popupPosts').limit(1) %}
				{% if latestPopup|length %}
					{% for post in latestPopup.all() %}
						{% set popupTopSubtitle = post.popupTopSubtitle %}
						{% set popupTitle = post.title %}
						{% set popupBottomSubtitle = post.popupBottomSubtitle %}
						{% set popupText = post.popupText %}
						{% set popupButton = post.popupButton %}
						<div class="popup js-popup">
							<div class="popup__overlay js-popup-close"></div>
							<div class="popup__inner js-bg-shape-hld">
								<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
									<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/popup.png' )}}" alt="Background shape blurry blob">
								</div>
								<div class="popup__close-hld js-popup-close">
									<span class="icon icon-close js-popup-close-icon"></span>
								</div>
								<div class="popup__text-hld">
									{% if popupTopSubtitle %}
										<div class="popup__subtitle popup__subtitle--top u-subtitle u-subtitle--big">{{ popupTopSubtitle }}</div>
									{% endif %}
									<h2 class="popup__title u-title u-title--medium-big">{{ popupTitle }}</h2>
									{% if popupBottomSubtitle %}
										<div class="popup__subtitle popup__subtitle--bottom u-subtitle u-subtitle--big">{{ popupBottomSubtitle }}</div>
									{% endif %}
									<div class="popup__text">{{ popupText }}</div>
									{% if popupButton and popupButton.getUrl() %}
										<a href="{{ popupButton.getUrl() }}" target="{{ popupButton.target ? '_blank' : '_self' }}" rel="{{ popupButton.target ? 'noopener noreferrer' : null }}" class="popup__btn u-btn u-btn--accent js-popup-close">
											<span class="text">
												{{ popupButton.customText }}
											</span>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
				{% set sectionId = '01' %}
				{{ include('/sections/hero-image-right.twig') }}
				{% set sectionId = '02' %}
				{{ include('/sections/centered-content.twig') }}
				{% set sectionId = '03' %}
				{{ include('/sections/tabs.twig') }}
				{% set sectionId = '04' %}
				{{ include('/sections/features.twig') }}
				{% set sectionId = '05' %}
				{{ include('/sections/logos-slider.twig') }}
				{% set sectionId = '06' %}
				{{ include('/sections/sliding-boxes.twig') }}
				{% set sectionId = '07' %}
				{{ include('/sections/latest-news.twig') }}
				{% set sectionId = '08' %}
				{{ include('/sections/outro.twig') }}
				{% set sectionId = '' %}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
				{{ include('/sections/footer.twig') }}
			{% endblock %}
		</footer>
		<script src="{{ alias('@web/src/js/main.min.js') }}"></script>
	</body>
</html>
