<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en">
	{% if entry is defined %}
		{% set metaTitle = entry.metaTitle %}
		{% set metaDescription = entry.metaDescription %}
		{% set postCreatedDate = entry.postDate|date("Y-m-d\\TH:i:s+00:00") %}
		{% set postModifyDate = entry.dateUpdated|date("Y-m-d\\TH:i:s+00:00") %}
	{% elseif category is defined %}
		{% set metaTitle = category.metaTitle %}
		{% set metaDescription = category.metaDescription %}
		{% set postCreatedDate = pageOptions.pageOptionsSchemaPublishedDate|date("Y-m-d\\TH:i:s+00:00") %}
		{% set postModifyDate = pageOptions.pageOptionsSchemaModifiedDate|date("Y-m-d\\TH:i:s+00:00") %}
    {% else %}
        {% set metaTitle = globalMetaTags.metaTitle %}
		{% set metaDescription = globalMetaTags.metaDescription %}
		{% set postCreatedDate = pageOptions.pageOptionsSchemaPublishedDate|date("Y-m-d\\TH:i:s+00:00") %}
		{% set postModifyDate = pageOptions.pageOptionsSchemaModifiedDate|date("Y-m-d\\TH:i:s+00:00") %}
	{% endif %}
    {% if entry is defined %}
        {% set handle = entry.section.handle %}
    {% elseif category is defined %}
        {% set handle = category.group.handle %}
    {% endif %}
    {% if handle == 'homepage' %}
        {% set postCreatedDate = pageOptions.pageOptionsSchemaPublishedDate|date("Y-m-d\\TH:i:s+00:00") %}
		{% set postModifyDate = pageOptions.pageOptionsSchemaModifiedDate|date("Y-m-d\\TH:i:s+00:00") %}
    {% endif %}
	{% block head %}
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>
				{% block title %}
					{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
				{% endblock %}
			</title>
			{% block description %}
				<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
			{% endblock %}
			<link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
            <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
			<meta property="og:locale" content="en_US">
			{% block og %}
				<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
				<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
				<meta property="og:type" content="website">
			{% endblock %}
            {% block ogurl %}
			<meta property="og:url" content="{{ alias('@web') }}">
            {% endblock %}
			<meta property="og:site_name" content="Wiliot">
            {% block articleMeta %}
            {% endblock %}
			<meta property="og:image" content="{{ entry is defined and entry.newsPostsShareImage and entry.newsPostsShareImage.one() ? entry.newsPostsShareImage.one().getUrl() : alias('@web/src/img/share-image.jpg') }}">
			<meta property="og:image:width" content="1200">
			<meta property="og:image:height" content="628">
            <meta property="og:image:type" content="image/jpeg">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:creator" content="@WiliotHQ">
			<meta name="twitter:site" content="@WiliotHQ">
			<meta name="twitter:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
			<meta name="twitter:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
			<meta name="twitter:image" content="{{ entry is defined and entry.newsPostsShareImage and entry.newsPostsShareImage.one() ? entry.newsPostsShareImage.one().getUrl() : alias('@web/src/img/share-image.jpg') }}">
			<link rel="icon" href="{{ alias('@web/favicon.ico') }}" type="image/x-icon">
            <link rel="alternate" type="application/rss+xml" href="{{ url('feed.rss') }}">
            <link href="https://player.vimeo.com" rel="preconnect" crossorigin>
			<style>
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_300_book.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_300_book.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 300;
				}
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_500_medium.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_500_medium.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 500;
				}
				@font-face {
					font-family: 'avenir';
					src: url('{{ alias('@web/src/fonts/avenir/avenir_900_heavy.woff2') }}') format('woff2'), url('{{ alias('@web/src/fonts/avenir/avenir_900_heavy.otf') }}') format('opentype');
					font-display: swap;
					font-style: normal;
					font-weight: 900;
				}
				@font-face {
					font-family: 'icomoon';
					src: url('{{ alias('@web/src/fonts/icomoon/fonts/icomoon.woff') }}') format('woff');
					font-weight: normal;
					font-style: normal;
					font-display: swap;
				}
			</style>
			<link rel="stylesheet" type="text/css" href="{{ alias('@web/src/css/style.min.css') }}?v=22FEB2023">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104066415-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-104066415-1');
                gtag('config', 'G-WWMYNJC96E');
			</script>
            <script id="hs-script-loader" async defer src="//js.hs-scripts.com/4249967.js"></script>
			<script type="application/ld+json">
				{
					"@context": "https://schema.org",
                    "@type": "Organization",
                    "name": "Wiliot",
                    "url": "https://www.wiliot.com",
                    "logo": "https://www.wiliot.com/src/img/svg/logo.svg",
                    "sameAs": [
                        "https://www.facebook.com/WiliotHQ",
                        "https://twitter.com/WiliotHQ",
                        "https://www.linkedin.com/company/wiliot/"
                    ]
                }
            </script>
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "@id": "https://www.wiliot.com/#website",
                    "url": "https://www.wiliot.com/",
                    "name": "{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}",
                    "description": "{{ globalMetaTags.metaDescription }}",
                    "potentialAction": [
                        {
                            "@type": "SearchAction",
                            "target": {
                                "@type": "EntryPoint",
                                "urlTemplate": "https://www.wiliot.com/search?q={search_term_string}"
                            },
                            "query-input": "required name=search_term_string"
                        }
                    ],
                    "inLanguage": "en-US"
                }
            </script>
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "ImageObject",
                    "@id": "https://www.wiliot.com/#primaryimage",
                    "inLanguage": "en-US",
                    "url": "{{ entry is defined and entry.newsPostsShareImage and entry.newsPostsShareImage.one() ? entry.newsPostsShareImage.one().getUrl() : alias('@web/src/img/share-image.jpg') }}",
                    "contentUrl": "{{ entry is defined and entry.newsPostsShareImage and entry.newsPostsShareImage.one() ? entry.newsPostsShareImage.one().getUrl() : alias('@web/src/img/share-image.jpg') }}",
                    "width": 1200,
                    "height": 628,
                    "caption": "{{ entry is defined and entry.newsPostsShareImage and entry.newsPostsShareImage.one() and entry.heroTitle ? entry.heroTitle : 'Wiliot Platform powered by IoT Pixels.' }}"
                }
            </script>
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "WebPage",
                    "@id": "https://www.wiliot.com#webpage",
                    "url": "https://www.wiliot.com",
                    "name": "{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}",
                    "isPartOf": {
                        "@id": "https://www.wiliot.com/#website"
                    },
                    "publisher":
                    {
                        "name": "Wiliot",
                        "url": "https://www.wiliot.com"
                    },
                    "datePublished": "{{ postCreatedDate }}",
                    "dateModified": "{{ postModifyDate }}",
                    "description": "{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}",
                    "breadcrumb": {
                        "@id": "https://www.wiliot.com/#breadcrumb"
                    },
                    "inLanguage": "en-US",
                    "potentialAction": [
                        {
                            "@type": "ReadAction",
                            "target": [
                                "https://www.wiliot.com"
                            ]
                        }
                    ]
                }
            </script>
            {% block additionalJsonMeta %}
            {% endblock %}
            <!-- WebSights Header HTML Snippet -->
            <script>
                (function(){var zi=document.createElement("script");zi.type="text/javascript";zi.async=true;zi.referrerPolicy="unsafe-url";zi.src="https://ws.zoominfo.com/pixel/62fffbb373e2d6008f07ab09";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(zi,s)})();
            </script>
		</head>
	{% endblock %}
	<body class="{% if entry is defined %} is-page-{{ entry.section|replace(' ', '-')|lower }} {% if entry.type.handle == 'singleWithSidebar' %} is-with-sidebar{% endif %}{% endif %}">
        {{ include('/sections/svg-sprites.twig') }}
		<header class="header header--desktop js-header js-search-bar-hld">
			{{ include('/sections/search-bar.twig') }}
			{{ include('/sections/menu-desktop.twig') }}
            {% block headerPopup %}
            {% endblock %}
		</header>
		<header class="header header--mobile js-header">
            {{ include('/sections/menu-mobile.twig') }}
            {% block headerPopupMobile %}
            {% endblock %}
		</header>
        {% set pages = craft.entries.section('menuMobile').all() %}
        {% set socials = pageOptions.pageOptionsSocials.all() %}
        {% set lastIsTypeform = pageOptions.pageOptionsLastInMenuIsTypeform %}
        <div class="menu-mobile-menu-hld js-menu-mobile-menu-hld">
            <div class="menu-mobile__overlay js-menu-mobile-btn"></div>
            <div class="menu-mobile__inner">
                <nav class="menu-mobile__nav-hld">
                    <ul class="menu-mobile__nav-list">
                        {% nav page in pages %}
                            {% set menuMobileTitle = page.title %}
                            {% set menuMobilePageLink = page.menuMobilePageLink %}
                            <li class="menu-mobile__nav-list-item {% if entry is defined and menuMobilePageLink == entry.url %} is-active {% endif %} {% if not menuMobilePageLink.url %} has-dropdown js-menu-mobile-dropdown-hld {% endif %}">
                                {% if lastIsTypeform and loop.index == 1 %}
                                    {% set typeformID = pageOptions.pageOptionsTypeFormID %}
                                    <button class="inner" data-tf-popup="{{ typeformID }}" data-tf-size="{{ pageOptions.pageOptionsTypeFormSize }}" data-tf-medium="snippet">
                                        <span class="text">{{ menuMobileTitle }}</span>
                                    </button>
                                {% elseif menuMobilePageLink.url %}
                                    <a href="{{ menuMobilePageLink.url }}" target="{{ menuMobilePageLink.target ? '_blank' : '_self' }}" rel="{{ menuMobilePageLink.target ? 'noopener noreferrer' : null }}" class="inner">
                                        <span class="text">{{ menuMobileTitle }}</span>
                                    </a>
                                {% else %}
                                    <div class="inner">
                                        <span class="text">{{ menuMobileTitle }}</span>
                                        <span class="link-icon-hld js-menu-mobile-dropdown-icon">
                                            <span class="icon icon-dropdown-down"></span>
                                        </span>
                                    </div>
                                {% endif %}
                                {% ifchildren %}
                                    <div class="menu-mobile__nav-dropdown js-menu-mobile-dropdown">
                                        <ul class="menu-mobile__nav-dropdown-list js-menu-mobile-dropdown-list">
                                            {% children %}
                                        </ul>
                                    </div>
                                {% endifchildren %}
                            </li>
                        {% endnav %}
                    </ul>
                </nav>
                <div class="menu-mobile__search-hld">
                    {{ include('/sections/search-bar.twig') }}
                </div>
                {% if socials %}
                    <div class="menu-mobile__socials-hld">
                        <div class="inner">
                            {% for social in socials %}
                                <div class="link">
                                    {% if social.socialLink and social.socialName and social.socialIcon %}
                                        <a href="{{ social.socialLink }}" target="_blank" rel="noopener noreferrer">
                                            <span class="icon icon-{{ social.socialName|lower }}"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
		<main>
			{% block main %}
				{% set latestPopup = craft.entries.section('popupPosts').limit(1) %}
				{% if latestPopup|length %}
					{% for post in latestPopup.all() %}
						{% set popupTopSubtitle = post.popupTopSubtitle %}
						{% set popupTitle = post.title %}
						{% set popupBottomSubtitle = post.popupBottomSubtitle %}
						{% set popupText = post.popupText %}
						{% set popupButton = post.popupButton %}
						<div class="popup js-popup">
							<div class="popup__overlay js-popup-close"></div>
							<div class="popup__inner js-bg-shape-hld">
								<div class="bg-shape bg-shape--bottom-left js-bg-shape" data-version="bottom-left">
									<img class="s2 js-s2 js-lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ alias('@web/src/img/bg-shape/optimized/popup.png' )}}" alt="Background shape blurry blob">
								</div>
								<div class="popup__close-hld js-popup-close">
									<span class="icon icon-close js-popup-close-icon"></span>
								</div>
								<div class="popup__text-hld">
									{% if popupTopSubtitle %}
										<div class="popup__subtitle popup__subtitle--top u-subtitle u-subtitle--big">{{ popupTopSubtitle }}</div>
									{% endif %}
									<h2 class="popup__title u-title u-title--medium-big">{{ popupTitle }}</h2>
									{% if popupBottomSubtitle %}
										<div class="popup__subtitle popup__subtitle--bottom u-subtitle u-subtitle--big">{{ popupBottomSubtitle }}</div>
									{% endif %}
									<div class="popup__text">{{ popupText }}</div>
									{% if popupButton and popupButton.getUrl() %}
										<a href="{{ popupButton.getUrl() }}" target="{{ popupButton.target ? '_blank' : '_self' }}" rel="{{ popupButton.target ? 'noopener noreferrer' : null }}" class="popup__btn u-btn u-btn--accent js-popup-close">
											<span class="text">
												{{ popupButton.customText }}
											</span>
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
				{% set sectionId = '01' %}
				{{ include('/sections/hero-slider.twig') }}
				{% set sectionId = '02' %}
				{{ include('/sections/title-switcher.twig') }}
				{% set sectionId = '03' %}
				{{ include('/sections/featured-slider.twig') }}
				{% set sectionId = '04' %}
				{{ include('/sections/tabs.twig') }}
				{% set sectionId = '05' %}
				{{ include('/sections/features.twig') }}
				{% set sectionId = '06' %}
				{{ include('/sections/logos-slider.twig') }}
				{% set sectionId = '07' %}
				{{ include('/sections/events-slider.twig') }}
				{% set sectionId = '08' %}
				{{ include('/sections/latest-podcasts.twig') }}
				{% set sectionId = '09' %}
				{{ include('/sections/latest-news.twig') }}
				{% set sectionId = '10' %}
				{{ include('/sections/outro.twig') }}
				{% set sectionId = '' %}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
				{{ include('/sections/footer.twig') }}
			{% endblock %}
		</footer>
        {% set cookieBoxEnabled = cookieBox.cookieBoxEnabled %}
        {% if cookieBoxEnabled %}
            {% set cookieBoxTitle = cookieBox.cookieBoxTitle %}
            {% set cookieBoxContent = cookieBox.cookieBoxContent %}
            {% set cookieBoxButtonText = cookieBox.cookieBoxButtonText %}
            <div class="site-cookie-box-hld js-cookie-box">
                <div class="site-cookie-box">
                    <div class="site-cookie-box__text-hld">
                        {% if cookieBoxTitle %}
                            <span class="site-cookie-box__title">{{ cookieBoxTitle }}</span>
                        {% endif %}
                        {% if cookieBoxContent %}
                            <div class="site-cookie-box__content">
                                {{ cookieBoxContent }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="site-cookie-box__btn-hld">
                        <button class="site-cookie-box__btn u-btn u-btn--accent js-cookie-box-accept">
                            <span class="text">{{ cookieBoxButtonText }}</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <script src="//embed.typeform.com/next/embed.js"></script>
        <script src="{{ alias('@web/src/js/main.min.js') }}?v=06032023"></script>
        <!-- WebSights Footer HTML Snippet -->
        <noscript>
            <img src="https://ws.zoominfo.com/pixel/62fffbb373e2d6008f07ab09" width="1" height="1" style="display: none;" alt="websights" />
        </noscript>
	</body>
</html>
