{% extends "index.twig" %}
{% set metaTitle = entry.metaTitle %}
{% set metaDescription = entry.metaDescription %}
{% block head %} {{ parent() }} {% endblock %}
{% block title %}
	{{ metaTitle ? metaTitle : entry.title ~ ' | ' ~ siteName  }}
{% endblock %}
{% block description %}
	<meta name="description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
{% endblock %}
{% block og %}
	<meta property="og:title" content="{{ metaTitle ? metaTitle : globalMetaTags.metaTitle }}">
	<meta property="og:description" content="{{ metaDescription ? metaDescription : globalMetaTags.metaDescription }}">
	<meta property="og:type" content="website">
{% endblock %}

{% block main %}
{% set query = craft.app.request.getParam('query') %}
<section class="u-section u-section--search-results-bar">
    <div class="u-wrapper">
        <div class="search-results-bar-hld js-main-search-bar">
            <div class="search-bar js-search-bar">
				<div class="search-bar__inner">
					<div class="search-form search-form--bar js-search-form-hld">
						<button class="search-form__button" type="submit">
							<svg class="svg-search">
								<use xlink:href="#svg-search"></use>
							</svg>
						</button>
						<input class="search-form__bar js-algolia-form-input" type="search" aria-label="Search" placeholder="Search" value="{{ query }}">
						<div class="search-form__close js-search-bar-close-button">
							<span class="icon icon-close"></span>
						</div>
					</div>
				</div>
			</div>
			{#
            {% if query %}
				<div class="search-results__support-hld">
					<a href="https://support.wiliot.com/hc/en-us/search?utf8=%E2%9C%93&query={{ query }}" target="_blank">
						<span class="text">You can also search for "{{ query }}" in our Knowledge Base</span>
						<svg class="svg-arrow-right">
							<use xlink:href="#svg-arrow-right"></use>
						</svg>
					</a>
				</div>
            {% endif %}
			#}
        </div>
    </div>
</section>
<section class="u-section u-section--search-results">
    <div class="u-wrapper">
        <h1 class="u-hidden">Search Results</h1>
		<div class="search-results-hld js-search-page-hld">
			<div class="search-results">
				<div class="search-results__sidebar">
					<div class="search-results__sidebar-sticky js-search-page-types-hld">
						<span class="search-results__sidebar-title">By type</span>
						<ul class="search-results__sidebar-list js-search-page-types"></ul>
					</div>
				</div>
				<div class="search-results__results-hld js-search-page-results-hld" data-items-limit="6">
					{#
					<div class="search-results__more-btn-hld js-search-results-more-btn-hld {% if activeIndex > 6 %}is-visible{% endif %}">
						<button class="search-results__more-btn u-btn u-btn--light js-search-results-more-btn">
							<span class="text">Load more</span>
						</button>
					</div>
					#}
				</div>
			</div>
		</div>
    </div>
</section>
{% endblock %}
